.ajax-progress.ajax-progress-fullscreen {
    display: none
}


body.page-node-256 #main-content {
    background: url(../assets/images/BG-Gradient-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 21%
}

#find-pharmacy-block {
    padding: 60px 0
}

/* new styles  */

#find-pharmacy-block .item-list h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

#find-pharmacy-block .item-list ul {
    list-style: none;
}

#find-pharmacy-block .item-list ul li {
    background: white;
    padding: 24px;
}

/* new styles end  */

.outline-gradient-gray-coral {
    background: url("../assets/images/Finder box background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative
}

.outline-gradient-gray-coral .gradient-text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%
}

.outline-gradient-gray-coral h1 {
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 24px
}

.outline-gradient-gray-coral .bold-text {
    font-weight: 600;
}

.outline-gradient-gray-coral p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 40px
}

.outline-gradient-gray-coral p.alert-danger {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 24px;
    color: #ff9696;
    font-weight: 500;
    margin-top: 4px
}

.outline-gradient-gray-coral p.alert-danger::before {
    background-image: url(../assets/images/error_outline.svg);
    position: relative;
    top: 6px;
    left: 2px
}

#views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip {
    position: relative;
    width: 295px;
    margin: 0 auto
}

#views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip select {
    padding: 8px;
    border-radius: 4px;
    border: 0.5px solid #3B3B3B;
    font-weight: 400;
    font-size: 16px;
    color: #909090;
    border: none;
    background-image: url(../assets/images/Dropdown-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px;
    background-position-x: 98%;
    background-position-y: 7px;
    cursor: pointer;
    height: 40px;
}

#views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip select:hover {
    background-image: url(../assets/images/search-btn-blue.svg)
}

#views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip select.border-error {
    border: 1.5px solid #ff9696
}

#views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip select:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-color: none !important;
    background-image: url(../assets/images/search-btn-blue.svg)
}

#views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip select:focus-visible {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-color: none !important;
    background-image: url(../assets/images/search-btn-blue.svg)
}

#views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip #edit-actions {
    display: none
}

#search-results-content .results-heading {
    padding: 60px 0 46px
}

#search-results-content .results-heading h2 {
    font-weight: 700;
    color: #1d8190;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
    /* letter-spacing: 1.9px; */
    margin-bottom: 40px
}

#search-results-content .results-heading p {
    font-weight: 400;
    color: #2c2851;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 40px
}

#search-results-content .results-heading .callout-alert-wrap {
    /* border: 1px solid #005baa; */
    padding: 16px;
    background-color: #FFF7E4;
    /* max-width: 977px; */
    margin: 0 auto;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
}

#search-results-content .results-heading .callout-alert-wrap p {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    color: #2c2851;
    display: inline
}

#search-results-content .results-heading .callout-alert-wrap img {
    margin: 0 19px 0 0
}

#search-results-content .view-filters {
    display: none
}

#search-results-content .views-label {
    display: none
}

#search-results-content .views-field-field-ships-to {
    display: none
}

#search-results-content .view-pharmacy-locator {
    padding-left: 15px
}

#search-results-content .view-pharmacy-locator h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .5px;
    text-align: center;
    color: #e7f1f4;
    background-color: #2c2851;
    padding: 32px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0
}

#search-results-content .view-pharmacy-locator ul {
    list-style-type: none;
    background: #fff;
    padding-left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 0
}

#search-results-content .view-pharmacy-locator ul li {
    padding: 20px 24px;
    border-bottom: 1px solid #cacaca
}

#search-results-content .view-pharmacy-locator ul li .views-field-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    margin-bottom: 12px;
    color: #2c2851
}

#search-results-content .view-pharmacy-locator ul li .views-field-field-address {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -.18px;
    margin-bottom: 7px;
    color: #2c2851
}

@media(max-width: 767px) {
    #search-results-content .view-pharmacy-locator ul li .views-field-field-address {
        display: inline-grid;
        grid-template-columns: auto auto auto
    }
}

#search-results-content .view-pharmacy-locator ul li .views-field-field-address::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../assets/images/location_on.svg);
    background-repeat: no-repeat;
    margin-right: 6px
}

#search-results-content .view-pharmacy-locator ul li .views-field-field-phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -.18px;
    display: flex;
    color: #2c2851
}

#search-results-content .view-pharmacy-locator ul li .views-field-field-phone::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../assets/images/phone.svg);
    margin-right: 6px
}

#search-results-content .view-pharmacy-locator ul li .views-field-field-phone a.text-link.tel-wrap-link {
    color: #2c2851;
    text-decoration: none
}

#search-results-content .view-pharmacy-locator ul li:last-child {
    border-bottom: none
}

#search-results-content .view-pharmacy-locator .col-lg-6:nth-child(1) {
    padding-right: 16px
}

#search-results-content .view-pharmacy-locator .col-lg-6:nth-child(2) {
    padding-left: 16px
}

#search-results-content .view-pharmacy-locator .new-search-warp {
    text-align: center;
    margin-top: 46px
}

#search-results-content .view-pharmacy-locator .custom-reset {
    width: 193px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .5px;
    color: #2c2851;
    border: 1.5px solid #2c2851;
    margin: 0 auto;
    background: 0 0;
    border-radius: 25px;
    padding: 6px 0;
    text-decoration: none;
    display: block
}

#search-results-content .view-pharmacy-locator .custom-reset:focus {
    outline: none !important;
    border: 1.5px solid #2c2851;
    box-shadow: none !important;
    border-color: none !important
}

#search-results-content .view-pharmacy-locator .custom-reset:focus-visible {
    outline: none !important;
    border: 1.5px solid #2c2851;
    box-shadow: none !important;
    border-color: none !important
}

@media(max-width: 991px) {
    #find-pharmacy-block {
        padding: 30px 0 45px
    }

    #views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip {
        width: 241px
    }

    #search-results-content .results-heading {
        padding: 34px 15px
    }

    #search-results-content .results-heading h2 {
        margin-bottom: 16px
    }

    #search-results-content .results-heading .callout-alert-wrap {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px
    }

    #search-results-content .results-heading .callout-alert-wrap img {
        margin-bottom: 10px;
        margin-right: 0
    }

    #search-results-content .view-pharmacy-locator .view-content.row {
        margin: 0 !important;
        padding: 0 !important
    }

    #search-results-content .view-pharmacy-locator .col-lg-6:nth-child(1) {
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    #search-results-content .view-pharmacy-locator .col-lg-6:nth-child(2) {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 35px
    }
}

@media(max-width: 575px) {
    #find-pharmacy-block {
        background: url(../assets/images/BG-Gradient-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 10% 20%
    }

    #find-pharmacy-block.bg-pos-m {
        background-position: center
    }

    #find-pharmacy-block .container {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .outline-gradient-gray-coral {
        background: url(../assets/images/Search-box-background.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 506px
    }

    .outline-gradient-gray-coral .gradient-text-block {
        width: 282px
    }

    .outline-gradient-gray-coral h1 {
        font-size: 30px;
        line-height: 39.15px;
        margin-bottom: 24px
    }

    .outline-gradient-gray-coral p {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 24px
    }

    .outline-gradient-gray-coral p br {
        display: none
    }

    #search-results-content .view-pharmacy-locator {
        padding-left: 0
    }

    #search-results-content .view-pharmacy-locator .custom-reset {
        width: 87%
    }

    #search-results-content .results-heading p br {
        display: none
    }
}

@media(min-width: 576px) and (max-width:991px) {
    .outline-gradient-gray-coral {
        height: 250px
    }

    .outline-gradient-gray-coral h1 {
        font-size: 28px;
        line-height: 31.2px;
        margin-bottom: 16px
    }

    .outline-gradient-gray-coral p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 16px
    }
}

@media(min-width: 576px) and (max-width:768px) {
    .outline-gradient-gray-coral h1 {
        font-size: 18px;
        margin-bottom: 4px
    }

    .outline-gradient-gray-coral p {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 9px
    }

    #views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip select {
        padding: 7px 0 7px 20px;
        font-size: 11px;
        background-size: 24px
    }
}

@media(min-width: 991px) and (max-width:1199px) {
    .outline-gradient-gray-coral {
        height: 333px
    }

    .outline-gradient-gray-coral h1 {
        font-size: 34px;
        line-height: 44px;
        margin-bottom: 18px
    }

    .outline-gradient-gray-coral p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 26px
    }

    #search-results-content .results-heading p br {
        display: none
    }
}

@media(min-width: 1200px) and (max-width:1399px) {
    .outline-gradient-gray-coral {
        height: 418px
    }
}

@media(min-width: 1399px) {
    .outline-gradient-gray-coral {
        height: 430px
    }
}

@media(min-width: 1200px) {
    #views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip select:hover {
        outline: 2px solid #585df3 !important
    }

    #views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip select:focus {
        outline: 2px solid #585df3 !important
    }

    #views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip select:focus-visible {
        outline: 2px solid #585df3 !important
    }

    #views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip #edit-actions .button:hover {
        background-image: url(../assets/images/search-btn-blue.svg)
    }

    #views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip #edit-actions .button:focus {
        background-image: url(../assets/images/search-btn-blue.svg)
    }

    #views-exposed-form-pharmacy-locator-block-pharmacy-locator-zip #edit-actions .button:focus-visible {
        background-image: url(../assets/images/search-btn-blue.svg)
    }

    #search-results-content {
        margin-bottom: -15px
    }

    #search-results-content .view-pharmacy-locator .custom-reset:hover {
        background-color: #585df3 !important;
        border: none !important;
        color: #fff !important;
        padding: 7.5px 0 !important
    }

    #search-results-content .view-pharmacy-locator .custom-reset:focus {
        background-color: #585df3 !important;
        border: none !important;
        color: #fff !important;
        padding: 7.5px 0 !important
    }

    #search-results-content .view-pharmacy-locator .custom-reset:focus-visible {
        background-color: #585df3 !important;
        border: none !important;
        color: #fff !important;
        padding: 7.5px 0 !important
    }
}

header .healthcare-professionals {
    background-color: #e7f1f4
}

header .healthcare-professionals p {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
    letter-spacing: .25px;
    line-height: 14px;
    color: #2c2851
}

header .healthcare-professionals ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end
}

header .healthcare-professionals ul li a {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #2c2851
}

header .healthcare-professionals ul li .right-br {
    border-right: 1px solid #2c2851;
    width: 1px;
    display: inline-block;
    height: 14px;
    margin: 0 6px;
    vertical-align: middle
}

header .healthcare-professionals .hp-wrapper {
    display: flex;
    padding: 8px 0
}

header .healthcare-professionals .hp-wrapper .left-wrapper {
    width: 39%;
    margin-top: 2px
}

header .healthcare-professionals .hp-wrapper .right-wrapper {
    width: 61%
}

header .logo-wrapper {
    padding: 15px 0;
    display: inline-block
}

header .logo-wrapper img {
    width: 181px
}

@media(max-width: 991px) {
    header .healthcare-professionals .hp-wrapper {
        flex-direction: column
    }

    header .healthcare-professionals .hp-wrapper .left-wrapper {
        width: 100%;
        margin-top: 0;
        margin-bottom: 6px
    }

    header .healthcare-professionals .hp-wrapper .right-wrapper {
        width: 100%
    }
}

@media(max-width: 575px) {
    header .healthcare-professionals p {
        font-size: 10px;
        text-align: center;
        max-width: 342px;
        margin-left: auto;
        margin-right: auto
    }

    header .healthcare-professionals ul li {
        line-height: 14px;
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        position: relative;
        min-height: 26px
    }

    header .healthcare-professionals ul li .right-br {
        display: block;
        position: absolute;
        right: -6px;
        top: 8px;
        height: 14px
    }

    header .healthcare-professionals ul li a {
        font-size: 10px
    }

    header .healthcare-professionals ul li:nth-child(1) {
        width: 25%
    }

    header .healthcare-professionals ul li:nth-child(2) {
        width: 27%
    }

    header .healthcare-professionals ul li:nth-child(3) {
        width: 23%
    }

    header .healthcare-professionals ul li:nth-child(3) a {
        margin-top: 6px;
        margin-left: -4px
    }

    header .healthcare-professionals ul li:nth-child(3) a .right-br {
        top: 6px;
        right: 0
    }

    header .healthcare-professionals ul li:nth-child(4) {
        width: 25%
    }
}

@media(max-width: 375px) {
    header .healthcare-professionals ul li:nth-child(3) a {
        margin-left: 0 !important
    }

    header .healthcare-professionals ul li:nth-child(3) .right-br {
        right: -7px
    }
}

@media(min-width: 576px) and (max-width:768px) {
    header .healthcare-professionals .hp-wrapper .left-wrapper {
        text-align: center
    }

    header .healthcare-professionals .hp-wrapper .right-wrapper {
        text-align: center
    }

    header .healthcare-professionals .hp-wrapper .right-wrapper ul {
        justify-content: center
    }

    header .healthcare-professionals .hp-wrapper .right-wrapper ul li a {
        font-size: 10px
    }

    header .healthcare-professionals .hp-wrapper .right-wrapper ul li .right-br {
        height: 8px
    }
}

@media(min-width: 768px) and (max-width:991px) {
    header .healthcare-professionals .hp-wrapper .left-wrapper {
        text-align: center
    }

    header .healthcare-professionals .hp-wrapper .right-wrapper ul {
        justify-content: center
    }
}

@media(min-width: 991px) and (max-width:1199px) {
    header .healthcare-professionals p {
        font-size: 10px
    }

    header .healthcare-professionals ul li a {
        font-size: 10px
    }

    header .healthcare-professionals .hp-wrapper .left-wrapper {
        width: 41%
    }

    header .healthcare-professionals .hp-wrapper .right-wrapper {
        width: 59%;
        margin-top: -2px
    }
}

@media(min-width: 1200px) {
    header .healthcare-professionals ul {
        padding-top: 1px
    }

    header .healthcare-professionals ul li {
        padding: 0 6px;
        border-right: 1px solid #2c2851;
        line-height: 11px
    }

    header .healthcare-professionals ul li:first-child {
        padding-left: 0
    }

    header .healthcare-professionals ul li:last-child {
        padding-right: 0;
        border-right: none
    }

    header .healthcare-professionals ul li .right-br {
        display: none
    }

    header .healthcare-professionals ul li a {
        line-height: unset
    }

    header .healthcare-professionals ul li a:hover {
        text-decoration: none
    }

    header .healthcare-professionals ul li a:focus {
        outline: 1.5px dotted #2c2851 !important
    }

    header .healthcare-professionals ul li a:focus-visible {
        outline: 1.5px dotted #2c2851 !important
    }
}

.isi-tabs {
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.isi-tabs li {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #2c2851
}

.isi-tabs li a {
    color: #2c2851;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 20px;
    display: block;
    width: 100%;
    padding: 2px 0;
    cursor: pointer
}

.isi-tabs li.active {
    background: #2c2851;
    border-bottom: none
}

.isi-tabs li.active a {
    color: #fff;
    font-weight: 500;
}

.isi-container {
    position: fixed;
    bottom: 0;
    height: 220px;
    width: 100%;
    margin: 0;
    z-index: 12;
    background: #fff;
    color: #2c2851;
    top: unset !important
}

.isi-container .isi-tray {
    position: relative;
    display: flex
}

.isi-container .isi-tray .isi-btn {
    position: absolute;
    right: 0
}

.isi-container .isi-tray .isi-btn span {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-bottom-color: transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #1d8190
}

.isi-container #heathcare-isi .isi-tray {
    padding: 23px 40px 0 55px
}

.isi-container #heathcare-isi .isi-tray .isi-btn {
    right: 22px
}

.isi-container #heathcare-isi .isi-tray .left-sec {
    width: 30%;
    margin-right: 29px
}

.isi-container #heathcare-isi .isi-tray .right-sec {
    width: 68%;
    border-left: 1px solid #1d8190;
    padding-left: 40px
}

.isi-container #heathcare-isi .isi-tray .right-sec p {
    font-weight: 700;
}

.isi-container #heathcare-isi .isi-tray h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 21.6px;
    color: #1d8190;
    text-transform: uppercase;
    margin-bottom: 12px
}

.isi-container #heathcare-isi .isi-tray h4 {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #1d8190;
    text-transform: uppercase;
    margin-bottom: 10px
}

.isi-container #heathcare-isi .isi-tray p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2c2851
}

.isi-container #heathcare-isi .isi-tray ul {
    padding-left: 17px;
    list-style-type: none
}

.isi-container #heathcare-isi .isi-tray li {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #2c2851
}

.isi-container #heathcare-isi .isi-tray li::before {
    content: "";
    background-image: url(../assets/images/healthcare-bullet-isi.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: -15px;
    top: 7px;
    display: inline-block
}

.isi-container #patient-isi .isi-tray {
    padding-top: 40px
}

.isi-container #patient-isi .isi-tray .isi-btn span {
    border-top: 7px solid #2c2851
}

.isi-container #patient-isi .isi-tray .left-sec {
    width: 27%;
    padding-right: 10px;
    border-right: 1px solid #2c2851
}

.isi-container #patient-isi .isi-tray .right-sec {
    width: 73%;
    padding-left: 35px;
    padding-right: 48px
}

.isi-container #patient-isi .isi-tray h3 {
    font-weight: 700;
    color: #1a1a1a;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 26px
}

.isi-container #patient-isi .isi-tray p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #2b2b2b
}

.isi-container #patient-isi .isi-tray ul {
    padding-left: 17px;
    list-style-type: none
}

.isi-container #patient-isi .isi-tray ul li {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #2b2b2b
}

.isi-container #patient-isi .isi-tray ul li::before {
    content: "";
    background-image: url(../assets/images/patient-bullet-isi.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: -15px;
    top: 7px;
    display: inline-block
}

.isi-container #patient-isi .isi-tray .strong-text {
    font-weight: 700;
}

.isi-full-content {
    padding: 0 0 20px
}

.isi-full-content h2 {
    font-weight: 700;
    font-size: 28px;
    color: #2c2851;
    margin-bottom: 20px;
    text-transform: uppercase
}

.isi-full-content p {
    font-weight: 400;
}

.isi-full-content li {
    font-weight: 400;
}

.isi-full-content .semi-bold-text {
    font-weight: 700;
}

.isi-full-content .semibold-text {
    font-weight: 700;
}

.isi-full-content #healthcare-important-safety-information {
    padding: 40px 15px 0
}

.isi-full-content #healthcare-important-safety-information h2 {
    margin-bottom: 30px
}

.isi-full-content #healthcare-important-safety-information h3 {
    font-weight: 700;
    font-size: 16px;
    color: #1d8190;
    margin-bottom: 12px;
    text-transform: uppercase
}

.isi-full-content #healthcare-important-safety-information h4 {
    font-weight: 700;
    font-size: 15px;
    color: #1d8190;
    margin-bottom: 12px
}

.isi-full-content #healthcare-important-safety-information p {
    font-size: 15px;
    line-height: 18px;
    color: #2c2851
}

.isi-full-content #healthcare-important-safety-information .indication-wrap {
    margin-bottom: 35px
}

.isi-full-content #healthcare-important-safety-information a {
    color: #2c2851
}

.isi-full-content #healthcare-important-safety-information ul {
    list-style-type: none;
    padding-left: 35px
}

.isi-full-content #healthcare-important-safety-information ul li {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #2c2851;
    margin-bottom: 10px
}

.isi-full-content #healthcare-important-safety-information ul li::before {
    content: "";
    background-image: url(../assets/images/healthcare-bullet-isi.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: relative;
    margin-left: -15px;
    top: 7px;
    display: inline-block
}

.isi-full-content #patient-important-safety-information {
    padding: 40px 15px 0
}

.isi-full-content #patient-important-safety-information a {
    color: #2c2851;
    font-weight: 700;
}

.isi-full-content #patient-important-safety-information h3 {
    font-weight: 700;
    font-size: 18px;
    color: #1a1a1a;
    margin-bottom: 12px;
    line-height: 18px;
    text-transform: uppercase
}

.isi-full-content #patient-important-safety-information p {
    font-size: 15px;
    line-height: 20px;
    color: #2b2b2b
}

.isi-full-content #patient-important-safety-information p.blue-text {
    color: #2c2851
}

.isi-full-content #patient-important-safety-information ul {
    padding-left: 20px;
    list-style-type: none;
    margin-top: -5px
}

.isi-full-content #patient-important-safety-information ul li {
    font-size: 15px;
    line-height: 20px;
    color: #2b2b2b;
    margin-bottom: 10px
}

.isi-full-content #patient-important-safety-information ul li::before {
    content: "";
    background-image: url(../assets/images/patient-bullet-isi.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 15px;
    position: relative;
    margin-left: -18px;
    top: 7px;
    display: inline-block
}

.isi-full-content #patient-important-safety-information .inner-patient-list ul {
    padding-left: 40px
}

.isi-full-content #patient-important-safety-information .inner-patient-list ul li::before {
    background-image: url(../assets/images/patient-bullet-oval-isi.svg)
}

.isi-full-content #patient-important-safety-information .p-text-wrapper {
    display: flex
}

.isi-full-content #patient-important-safety-information .left-sec {
    width: 27.5%
}

.isi-full-content #patient-important-safety-information .left-sec .left-sec-wrapper {
    border-right: 1px solid #2c2851;
    padding-right: 34px;
    padding-bottom: 1px
}

.isi-full-content #patient-important-safety-information .left-sec ul {
    padding-right: 8px
}

.isi-full-content #patient-important-safety-information .right-sec {
    width: 72.5%;
    padding-left: 32px;
    padding-right: 50px
}

@media(max-width: 575px) {
    .isi-tabs li a {
        font-size: 12px
    }

    .isi-tabs-wrapper .container {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
}

@media(max-width: 991px) {
    .isi-container {
        height: 140px
    }

    .isi-container #heathcare-isi .d-isi {
        display: none
    }

    .isi-container #heathcare-isi .m-isi {
        display: block !important
    }

    .isi-container #heathcare-isi .isi-tray {
        padding: 10px 0 0;
        flex-direction: column
    }

    .isi-container #heathcare-isi .isi-tray .isi-btn {
        right: 0
    }

    .isi-container #heathcare-isi .isi-tray p {
        font-weight: 700;
    }

    .isi-container #heathcare-isi .isi-tray h4 {
        margin-bottom: 13px
    }

    .isi-container #patient-isi .d-isi {
        display: none
    }

    .isi-container #patient-isi .m-isi {
        display: block !important
    }

    .isi-container #patient-isi .isi-tray {
        padding: 10px 0 0;
        flex-direction: column
    }

    .isi-container #patient-isi .isi-tray h3 {
        font-weight: 400;
        font-size: 15px;
        line-height: 21.6px;
        margin-bottom: 12px
    }

    .isi-container #patient-isi .isi-tray .strong-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px
    }

    .isi-full-content h2 {
        font-size: 24px;
        line-height: 34.6px
    }

    .isi-full-content #healthcare-important-safety-information {
        padding: 40px 0 0
    }

    .isi-full-content #healthcare-important-safety-information ul {
        padding-left: 27px
    }

    .isi-full-content #patient-important-safety-information {
        padding: 40px 0 0
    }

    .isi-full-content #patient-important-safety-information .p-text-wrapper {
        flex-direction: column
    }

    .isi-full-content #patient-important-safety-information .left-sec {
        width: 100%
    }

    .isi-full-content #patient-important-safety-information .left-sec .left-sec-wrapper {
        border-right: none;
        border-bottom: 1px solid #2c2851;
        padding-right: 0;
        margin-bottom: 20px
    }

    .isi-full-content #patient-important-safety-information .right-sec {
        padding: 0;
        width: 100%
    }

    .isi-full-content #patient-important-safety-information ul {
        padding-left: 27px
    }

    .isi-full-content #patient-important-safety-information ul li::before {
        width: 12px;
        margin-left: -12px
    }
}

@media(min-width: 1200px) {
    .isi-full-content a:hover {
        text-decoration: none
    }

    .isi-full-content a:focus {
        outline: 1.5px dotted #2c2851 !important
    }

    .isi-full-content a:focus-visible {
        outline: 1.5px dotted #2c2851 !important
    }
}

footer {
    background: #2c2851;
    padding: 40px 0 80px
}

footer h2 {
    display: none
}

footer ul.navbar-nav {
    flex-direction: row;
    margin-bottom: 40px
}

footer ul.navbar-nav li {
    padding-right: 24px;
    color: #fff
}

footer ul.navbar-nav li a {
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 20.4px;
    text-decoration: underline
}

footer ul.navbar-nav li a.cookie_settings_footer {
    cursor: pointer
}

footer .footer-logo-wrapper {
    display: flex
}

footer .footer-logo-wrapper .img-wrapper {
    margin-right: 84px
}

footer .footer-logo-wrapper img {
    width: 200px
}

footer .footer-logo-wrapper p {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px
}

@media(max-width: 991px) {
    footer {
        padding: 64px 0
    }

    footer ul.navbar-nav {
        flex-direction: column;
        margin-bottom: 20px
    }

    footer ul.navbar-nav li a {
        font-size: 14px
    }

    footer ul.navbar-nav li.only-mobile {
        display: block !important
    }

    footer ul.navbar-nav li.only-desktop {
        display: none
    }

    footer .footer-logo-wrapper {
        flex-direction: column
    }

    footer .mat-code {
        display: none
    }

    footer .mat-code-m {
        display: block !important
    }

    footer .img-wrapper {
        margin-bottom: 20px;
        margin-left: -5px
    }
}

@media(min-width: 991px) {
    footer ul.navbar-nav {
        padding-left: 15px
    }

    footer .footer-logo-wrapper {
        padding-left: 15px
    }
}

#onetrust-consent-sdk .custom-persistent-icon {
    display: none !important
}

#ot-sdk-btn-floating.ot-floating-button {
    display: none !important
}

@media(min-width: 1200px) {
    footer ul.navbar-nav li a:hover {
        text-decoration: none
    }

    footer ul.navbar-nav li a:focus {
        outline: 1.5px dotted #fff !important
    }

    footer ul.navbar-nav li a:focus-visible {
        outline: 1.5px dotted #fff !important
    }

    footer ul.navbar-nav li a.cookie_settings_footer:focus {
        outline: 1.5px dotted #fff !important
    }

    footer ul.navbar-nav li a.cookie_settings_footer:focus-visible {
        outline: 1.5px dotted #fff !important
    }
}

.utility-header {
    background: #2c2851;
    padding: 65px 0
}

.utility-header h1 {
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0
}

.utility-text {
    padding: 30px 0 18px 300px
}

.utility-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2b2b2b
}

.utility-text a {
    font-weight: 700;
    color: #2c2851
}

@media(max-width: 991px) {
    .utility-text {
        padding-left: 0
    }
}

@media(min-width: 1200px) {
    .utility-text a:hover {
        text-decoration: none
    }

    .utility-text a:focus {
        outline: 1.5px dotted #2c2851 !important
    }

    .utility-text a:focus-visible {
        outline: 1.5px dotted #2c2851 !important
    }
}

.insurance-section {
    display: flex;
    box-shadow: 0 4px 4px #ddb4a3;
    position: relative;
    z-index: 1
}

.insurance-section .msg-sup {
    font-size: 10px;
    position: relative;
    top: -6.5px
}

.insurance-section img {
    margin-top: 32px;
    margin-bottom: 36px
}

.insurance-section .left-wrapper {
    width: 50%;
    background-color: #1d8190;
    display: flex;
    justify-content: right;
    padding-right: 110px
}

.insurance-section .right-wrapper {
    width: 50%;
    background-color: #c4dbec;
    padding-left: 110px
}

.insurance-section .right-wrapper p {
    color: #2c2851
}

.insurance-section .right-wrapper p.extra-bold {
    color: #2c2851
}

.insurance-section .ins-text-wrapper {
    max-width: 500px;
    text-align: center;
    padding: 50px 0 30px
}

.insurance-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #fff
}

.insurance-section p.extra-bold {
    font-weight: 900;
    font-size: 25px;
    line-height: 39.38px;
    padding: 0 10px;
    color: #fff;
    margin-bottom: 0
}

.insurance-section .semi-bold-text {
    font-weight: 700;
}

.insurance-section a {
    color: #fff
}

#prescription-wrapper {
    padding: 50px 0 35px;
    margin-bottom: -10px
}

#prescription-wrapper p {
    max-width: 1214px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 13px;
    line-height: 21.6px;
    color: #2c2851;
    text-align: center
}

#prescription-wrapper p.pre-t {
    font-size: 16px
}

#prescription-wrapper a {
    color: #2c2851
}

#prescription-wrapper .semi-bold-text {
    font-weight: 700;
}

#prescription-wrapper .msg-sup {
    font-size: 8px;
    position: relative;
    top: -4px
}

@media(max-width: 991px) {
    .insurance-section {
        flex-direction: column
    }

    .insurance-section .ins-text-wrapper {
        margin: 0 auto
    }

    .insurance-section .left-wrapper {
        width: 100%;
        padding: 0 15px
    }

    .insurance-section .right-wrapper {
        width: 100%;
        padding: 0 15px
    }

    .insurance-section p {
        font-size: 15px;
        line-height: 18px
    }

    .insurance-section p.extra-bold {
        padding: 0;
        font-size: 20px;
        line-height: 31.5px
    }

    #prescription-wrapper p {
        width: 100%;
        padding: 0 15px
    }

    #prescription-wrapper p br {
        display: none
    }
}

@media(max-width: 575px) {
    #prescription-wrapper {
        background-color: #f2ebe8
    }

    .insurance-section .msg-sup {
        top: -5px
    }
}

@media(min-width: 768px) and (max-width:991px) {
    #prescription-wrapper p {
        max-width: 720px
    }
}

@media(min-width: 991px) and (max-width:1199px) {
    .insurance-section .ins-text-wrapper {
        width: 100%
    }

    .insurance-section .left-wrapper {
        padding: 0 35px
    }

    .insurance-section .right-wrapper {
        padding: 0 35px
    }

    .insurance-section p.extra-bold {
        font-size: 22px;
        line-height: 35px;
        padding: 0;
        max-width: 420px;
        margin-left: auto;
        margin-right: auto
    }
}

@media(min-width: 1199px) and (max-width:1399px) {
    .insurance-section .left-wrapper {
        padding-right: 0
    }

    .insurance-section .right-wrapper {
        padding-left: 0
    }

    .insurance-section .ins-text-wrapper {
        margin-left: auto;
        margin-right: auto
    }
}

@media(min-width: 1200px) {
    .insurance-section a:hover {
        text-decoration: none
    }

    .insurance-section a:focus {
        outline: 1.5px dotted #fff !important
    }

    .insurance-section a:focus-visible {
        outline: 1.5px dotted #fff !important
    }

    #prescription-wrapper a:hover {
        text-decoration: none
    }

    #prescription-wrapper a:focus {
        outline: 1.5px dotted #2c2851 !important
    }

    #prescription-wrapper a:focus-visible {
        outline: 1.5px dotted #2c2851 !important
    }
}

.ma-exception {
    display: none
}

.ma-modal-wrapper {
    max-width: 731px !important;
    border: none !important;
    padding: 0 !important;
    border-radius: 10px
}

.ma-modal-wrapper .ui-dialog-titlebar {
    background: 0 0;
    border: none;
    height: 80px;
    padding: 0
}

.ma-modal-wrapper .ui-dialog-titlebar .ui-dialog-title {
    display: none
}

.ma-modal-wrapper .ui-dialog-titlebar button {
    padding: 0 !important;
    width: 24px !important;
    height: 24px !important;
    border: none !important;
    background: 0 0 !important;
    margin-top: -20px;
    margin-right: 20px
}

.ma-modal-wrapper .ui-dialog-titlebar button span {
    display: none
}

.ma-modal-wrapper .ui-dialog-titlebar button::before {
    position: absolute;
    left: 6px;
    content: " ";
    height: 16px;
    width: 2px;
    background-color: #000;
    transform: rotate(45deg);
    top: 3px
}

.ma-modal-wrapper .ui-dialog-titlebar button::after {
    position: absolute;
    left: 6px;
    content: " ";
    height: 16px;
    width: 2px;
    background-color: #000;
    transform: rotate(-45deg);
    top: 3px
}

.ma-modal-wrapper .ui-dialog-content {
    text-align: center;
    padding: 0 !important
}

.ma-modal-wrapper .ui-dialog-content form {
    padding: 0 24px 40px
}

.ma-modal-wrapper .ui-dialog-content form h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 41.76px;
    margin-bottom: 32px;
    color: #2c2851
}

.ma-modal-wrapper .ui-dialog-content form p {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -.22px;
    margin-bottom: 32px;
    color: #2b2b2b
}

.ma-modal-wrapper .ui-dialog-content form input.btn {
    width: 186px;
    text-transform: none;
    height: 56px;
    border-radius: 40px;
    border: none;
    background-color: #2c2851;
    background-image: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px
}

.ma-modal-wrapper .ui-dialog-content form input.btn:focus {
    outline: none;
    box-shadow: none
}

.ma-modal-wrapper .ui-dialog-content form input.btn:focus-visible {
    outline: none;
    box-shadow: none
}

@media(max-width: 991px) {
    .ma-modal-wrapper .ui-dialog-content form {
        padding-bottom: 32px
    }

    .ma-modal-wrapper .ui-dialog-content form h4 {
        font-size: 20px;
        line-height: 26.1px;
        margin-bottom: 24px
    }

    .ma-modal-wrapper .ui-dialog-content form p {
        font-size: 15px;
        line-height: 22.5px;
        letter-spacing: -.15px;
        margin-bottom: 24px
    }

    .ma-modal-wrapper .ui-dialog-titlebar {
        height: 72px
    }

    .ma-modal-wrapper .ui-dialog-titlebar button {
        margin-top: -15px;
        margin-right: 22px
    }
}

@media(max-width: 575px) {
    .ma-modal-wrapper {
        width: 92% !important;
        left: 15px !important
    }
}


@media(min-width: 1200px) {
    .ma-modal-wrapper .ui-dialog-content form input.btn:hover {
        background-color: #585df3
    }

    .ma-modal-wrapper .ui-dialog-content form input.btn:focus {
        background-color: #585df3
    }

    .ma-modal-wrapper .ui-dialog-content form input.btn:focus-visible {
        background-color: #585df3
    }
}

body.page-user-login #main-content {
    max-width: 991px;
    margin: 5rem auto 0
}

body.page-user-login #main-content form.user-login-form {
    max-width: 512px;
    margin: 0 auto
}

body.page-user-login #main-content form.user-login-form .description {
    display: none
}

body.page-user-login #main-content form.user-login-form input[type=text],
body.page-user-login #main-content form.user-login-form input[type=password] {
    margin-bottom: 1.5rem
}

body.page-user-login #main-content form.user-login-form input[type=submit] {
    max-width: 128px;
    padding: .5rem 1rem
}
