.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: aqua;
}

/* 
header */

header {
  background-color: #2c3e50;

  padding: 15px 0;
}

.navbar {
  background-color: red !important;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #ecf0f1;

  font-family: 'Arial', sans-serif;

}

.navbar-toggler-icon,
.btn-outline-success {
  color: #3498db;

}

.navbar-toggler {
  border-color: #3498db;

}

.nav-link.active {
  color: #e74c3c;

}

.dropdown-menu {
  background-color: #34495e;

}

.dropdown-item {
  color: #ecf0f1;

}

.form-control {
  background-color: #ecf0f1;
  color: #2c3e50;

}

.btn-outline-success:hover {
  background-color: #3498db;
  color: #ecf0f1;
}
