 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing:border-box;
             box-sizing: border-box;

 }

 header,
 section,
 footer,
 aside,
 header,
 main,
 article,
 figure {
     display: block;
 }

 body,
 h1,
 h2,
 p,
 ul,
 ol {
     margin: 0px;
     padding: 0px;
 }

 ul,
 ol,
 li {
     list-style-type: none;
 }

 img {
     max-width: 100%;
     vertical-align: middle;
     height: auto;
     width: 100%;
 }

 body {
     color: #333333;
     font-size: 16px;
     line-height: 1.42857143;
     background-color: #edeff1;
     -webkit-tap-highlight-color: transparent;
 }

 a {
     text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }

 input:focus,
 select:focus,
 textarea:focus,
 button:focus {
     outline: none;
 }

 button {
     cursor: pointer;
     -ms-touch-action: manipulation;
         touch-action: manipulation;
     -webkit-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
 }

 button:hover {
     opacity: 0.7;
 }

 button,
 input {
     font-family: 'Roboto Slab', serif;
 }

 .text_center {
     text-align: center;
 }

 .text_right {
     text-align: right;
 }

 .text_left {
     text-align: left;
 }

 .clearfix {
     clear: both;
 }

 .container {
     position: relative;
     max-width: 1200px;
     padding: 0px;
     margin: 0px auto;
 }

 .header {
     padding: 48px;
 }

 .header h3 {
     display: inline;
     font-size: 36px;
     font-family: 'Montserrat', sans-serif;
 }

 .headernav {
     display: inline-block;
     float: right;
     padding: 13px 0;
 }

 .hero_section {
     width: 100%;
     height: 86vw;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     text-align: center;
     color: #fff;
     position: relative;
     font-family: 'Roboto Slab', serif;
     color: #ffffff;
     background-image: url("../images/hero.png");
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }


 .hero_section:before {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0)));
     background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 30%);
     background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 30%);
     background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0)));
     background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0)30%);
     background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0)30%);
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0)30%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
     z-index: 1;
 }

 .hero_section .image_content {
     display: block;
     position: relative;
     z-index: 2;
 }

 .signup {
     width: 100%;
     height: 25vw;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     text-align: center;
     color: #fff;
     background-image: url(../images/signup.png);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }

 .signup .image_content {
     display: block;
 }

 .signup .wrapper {
     width: 75%;
     margin: 0 auto;
 }

 .footer_image {
     width: 100%;
     height: 24vw;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     text-align: center;
     color: #fff;
     background-image: url(../images/footerimage.png);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }

 .footer_image:before {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
     background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
     background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
     background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5)));
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
     z-index: 1;
 }

 .footer_image .footer_text {
     display: block;
     position: relative;
     z-index: 2;
     font-family: 'Montserrat', sans-serif;
 }

 .footer_image .footer_text a {
     font-weight: bold;
 }

 .twoblocks {
     padding: 65px 0;
 }

 .twoblocks .secondrow .boxdiv {
     position: relative;
     right: 45px;
 }

 .twoblocks .firstrow .boxdiv {
     position: relative;
     left: 45px;
 }

 .headernav ul li {
     display: inline;
     padding: 0 23px;
 }

 .headernav li a {
     color: #31353e;
     font-size: 18px;
     font-family: 'Roboto Slab', serif;
 }

 .headernav ul li:active {
     display: inline;
     background: #dd4b2b;
     border-radius: 18px;
     padding: 10px 23px;
 }

 .headernav ul li:active a {
     color: #ffffff;
 }

 .readmore {
     display: block;
     margin: 0 auto;
     color: #612316;
     border-radius: 35px;
     padding: 14px 60px;
     font-size: 18px;
     background: #ffffff;
     border: 1px solid #f6f7f8;
     text-transform: uppercase;
 }

 .readmore:hover {
     background: #ff0000;
     opacity: 1;
     color: #ffffff;
     border: 1px solid #ff0000;
 }


 .hero_section .image_content h2 {
     font-size: 72px;
     font-weight: 100;
 }

 .hero_section .image_content .sub_line {
     font-size: 30px;
     font-weight: 100;
 }

 .image_content .triblocks {
     margin-top: 11%;
     margin-bottom: 7%;
 }

 .image_content .trichild h3 {
     font-size: 30px;
     font-weight: bold;
     margin: 10px 0;
 }

 .image_content .trichild p {
     font-size: 15px;
     line-height: 1.5;
 }

 .hero_section .image_content img {
     width: auto;
     border-radius: 50%;
 }

 .our_news {
     padding: 55px 0 104px;
     font-family: 'Roboto Slab', serif;
 }

 .our_news h2 {
     margin-bottom: 88px;
     font-size: 30px;
     font-weight: bold;
 }

 .our_news .readmore {
     color: #4e5159;
     margin-top: 10px;
 }

 .our_news .readmore:hover {
     color: #ffffff;
 }

 .our_news h3 {
     margin-top: 45px;
     margin-bottom: 15px;
     font-size: 24px;
     font-weight: bold;
 }

 .our_news .trichild p {
     line-height: 2;
     font-size: 15px;
     width: 98%;
 }

 .signup {
     position: relative;
     color: #ffffff;
     font-family: 'Roboto Slab', serif;
 }

 .signup h2 {
     padding-bottom: 10px;
 }

 .signup p {
     padding-bottom: 35px;
     font-size: 15px;
 }

 .signup .inputdiv {
     position: relative;
 }

 .signup .inputdiv input[type=email] {
     padding: 14px 10px;
     width: 79%;
     background: transparent;
     background: rgba(255, 255, 255, 0.2);
     border-radius: 30px;
     border: 0.5px solid #ffffff;
     color: #ffffff;
     font-size: 18px;
 }

 .signup .inputdiv button {
     padding: 14px 49px;
     font-size: 18px;
     background: #ffffff;
     border-radius: 30px;
     border-style: none;
     position: absolute;
     right: 10%;
     color: #612316;
 }

 ::-webkit-input-placeholder {
     color: #f3f4f6;
     opacity: 1;
     font-size: 18px;
     padding: 12px;
     font-family: 'Roboto Slab', serif;
 }

 :-ms-input-placeholder {
     color: #f3f4f6;
     opacity: 1;
     font-size: 18px;
     padding: 12px;
     font-family: 'Roboto Slab', serif;
 }

 ::-ms-input-placeholder {
     color: #f3f4f6;
     opacity: 1;
     font-size: 18px;
     padding: 12px;
     font-family: 'Roboto Slab', serif;
 }

 ::placeholder {
     color: #f3f4f6;
     opacity: 1;
     font-size: 18px;
     padding: 12px;
     font-family: 'Roboto Slab', serif;
 }

 :-ms-input-placeholder {
     color: #f3f4f6;
     font-size: 18px;
     padding: 12px;
 }

 ::-ms-input-placeholder {
     color: #f3f4f6;
     font-size: 18px;
     padding: 12px;
 }

 input:focus::-webkit-input-placeholder {
     color: transparent;
 }

 input:focus:-moz-placeholder {
     color: transparent;
 }

 input:focus::-moz-placeholder {
     color: transparent;
 }

 input:focus:-ms-input-placeholder {
     color: transparent;
 }

 .twoblocks {
     padding: 65px 15px;
     font-family: 'Roboto Slab', serif;
 }

 .twoblocks .flex-container .trichild {
     text-align: left;
 }

 .twoblocks .firstrow,
 .twoblocks .secondrow {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
 }

 .twoblocks .rectangle,
 .twoblocks .text {
     width: 50%;
 }

 .twoblocks .firstrow .boxdiv {
     width: 100%;
     height: 405px;
     border: #dbdbdb solid 1px;
 }

 .twoblocks .secondrow .boxdiv {
     width: 100%;
     height: 405px;
     border: #dbdbdb solid 1px;
 }

 .twoblocks button {
     border-style: none;
     color: #ffffff;
     border-radius: 30px;
     padding: 18px 83px;
     font-size: 18px;
     background: #dd4b2b;
 }

 .twoblocks .text h3 {
     font-size: 30px;
     font-weight: bold;
     margin-top: 38px;
 }

 .twoblocks .text p {
     margin: 30px 0 53px;
 }

 .twoblocks .secondrow button {
     background: #4b4e73;
 }

 .footer-links {
     background: #d75d0e;
     padding: 22px 0;
 }

 .footer_image {
     position: relative;
 }

 .footer_image a {
     color: #ffffff;
 }

 .flex-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
 }

 .flex-container .trichild {
     margin: 15px;
     text-align: center;
 }

 .footer-links .flex-container .trichild {
     padding: 50px;
     color: #ffffff;
     padding-top: 36px;
 }

 .footer-links .flex-container a {
     font-family: 'Roboto Slab', serif;
     font-size: 18px;
     color: #ffffff;
     line-height: 2;
 }

 .footer_text {
     font-size: 1.5vw;
 }

 .toggle {
     width: 100%;
     padding: 4px 20px;
     background: #663399;
     font-size: 30px;
     display: none;
 }

 .clickbar .bar1,
 .clickbar .bar2,
 .clickbar .bar3 {
     width: 35px;
     height: 5px;
     background-color: #ffffff;
     margin: 6px 0;
     -webkit-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
 }
 /*desktop end*/

 @media screen and (min-width: 768px) and (max-width: 1200px) {
     .header {
         padding: 18px;
     }
     .header h3 {
         font-size: 24px;
         padding-left: 10px;
     }
     .headernav {
         margin-right: 0;
         padding: 0;
     }
     .headernav ul li,
     .headernav ul li:active {
         padding: 0 10px 0;
     }
     .headernav li a {
         font-size: 14px;
     }
     .hero_section .image_content h2 {
         font-size: 4vw;
     }
     .hero_section .image_content .sub_line {
         font-size: 2vw;
     }

     .image_content .triblocks .trichild h3 {
         font-size: 2vw;
         font-weight: bold;
         margin: 6px 0;
     }
     .image_content .triblocks .trichild p {
         font-size: 12px;
         line-height: inherit;
     }
     .our_news {
         padding: 24px 30px 27px;
     }

     .our_news .trichild p {
         line-height: inherit;
         font-size: 14px;
     }
     .our_news h2 {
         margin-bottom: 5px;
     }
     .our_news .readmore {
         padding: 10px 36px;
         margin-top: 35px;
     }
     .our_news .trichild p {
         width: 100%;
     }
     .footer-links .flex-container .trichild {
         padding: 0 50px;
     }

     .twoblocks .firstrow .boxdiv,
     .twoblocks .secondrow .boxdiv {
         left: 0;
     }
     .twoblocks .text h3 {
         margin-top: 12px;
     }

     .signup h2 {
         font-size: 2vw;
     }

     .signup p {
         padding-bottom: 6px;
         font-size: 15px;
     }
     .signup .inputdiv input[type=email] {
         padding: 12px 10px;
     }
     .signup .inputdiv button {
         padding: 12px 49px;
     }
 }
 /*mobile*/

 @media screen and (min-width: 320px) and (max-width: 767px) {
     .flex-container {
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
     }
     .footer-links .flex-container .trichild {
         padding: 5px;
         border-bottom: 1px solid #ffffff;
     }
     .footer-links .flex-container .trichild:last-child {
         border-bottom: none;
     }
     .twoblocks {
         padding-top: 5px;
         padding-bottom: 10px;
     }
     .twoblocks .text h3 {
         margin: 10px auto;
         font-size: 18px;
         text-align: center;
     }
     .twoblocks .rectangle,
     .twoblocks .text {
         width: 100%;
     }
     .twoblocks .text p {
         margin: 20px auto;
     }
     .twoblocks button {
         display: block;
         margin: 10px auto;
         padding: 10px 40px;
     }
     .twoblocks .flex-container .trichild {
         margin: 0;
     }
     .twoblocks .firstrow {
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
     }
     .twoblocks .secondrow {
         -webkit-box-orient: vertical;
         -webkit-box-direction: reverse;
             -ms-flex-direction: column-reverse;
                 flex-direction: column-reverse;
     }
     .our_news .trichild p {
         line-height: inherit;
         width: 100%;
     }
     .hero_section .flex-container {
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
             -ms-flex-direction: row;
                 flex-direction: row;
     }
     .signup .image_content {
         width: 100%;
     }
     .signup h2,
     .signup p {
         font-size: 14px;
         padding-bottom: 8px;
         line-height: 1;
     }
     .signup p {
         font-size: 8px;
     }
     .signup .inputdiv input[type=email] {
         padding: 4px;
         font-size: 12px;
         padding-left: 10px;
     }
     .signup .inputdiv button {
         padding: 4px 10px;
         font-size: 12px;
     }
      ::-webkit-input-placeholder {
         font-size: 14px;
     }
      :-ms-input-placeholder {
         font-size: 14px;
     }
      ::-ms-input-placeholder {
         font-size: 14px;
     }
      ::placeholder {
         font-size: 14px;
     }
     .our_news {
         padding: 5px 20px 10px;
     }
     .our_news h2 {
         margin-bottom: 0;
         font-size: 24px;
     }
     .image_content .trichild {
         margin: 2px 5px 0 5px;
     }
     .image_content .trichild h3 {
         margin-top: 2px;
         margin-bottom: 2px;
     }
     .readmore {
         padding: 12px 22px;
         font-size: 16px;
     }
     .twoblocks .boxdiv {
         height: 200px;
     }
     .signup .inputdiv button {
         top: 1px;
     }
     .hero_section .image_content p,
     .hero_section .image_content h3 {
         font-size: 10px;
     }

     .hero_section .image_content h2 {
         font-size: 18px;
     }
     .hero_section .image_content .sub_line {
         font-size: 12px;
     }
     .image_content .trichild h3 {
         font-size: 10px;
     }
     .image_content .triblocks {
         width: 100%;
     }
     .hero_section .readmore {
         padding: 6px 21px;
         font-size: 12px;
         margin-top: 10px;
     }

     .image_content .triblocks .trichild p {
         font-size: 8px;
         line-height: 1.5;
     }
     .hero_section .image_content p {
         line-height: 1.2;
     }
     .hero_section .image_content img {
         width: 40px;
     }
     .toggle {
         display: block;
     }
     .header {
         padding: 0;
     }
     .topnav {
         width: 100%;
         display: none;
     }
     .header h3 {
         font-size: 30px;
         padding: 10px;
     }
     .headernav {
         margin-right: 0;
         padding: 0;
     }
     .headernav ul li {
         display: block;
         text-align: center;
         padding: 10px 23px;
     }
     .headernav li a {
         color: #ffffff;
     }
     .headernav ul li:active {
         display: block;
         background: #dd4b2b;
         border-radius: 0;
         padding: 10px;
         padding-left: 15px;
     }
     .header .container {
         padding: 0;
     }
     .active {
         display: block;
         position: absolute;
         z-index: 3;
         left: 0;
         background: #663399;
         background: rgba(102, 51, 153, 0.94);
     }
     .change .bar1 {
         -webkit-transform: rotate(-45deg) translate(-9px, 6px);
         -ms-transform: rotate(-45deg) translate(-9px, 6px);
         transform: rotate(-45deg) translate(-9px, 6px);
     }
     .change .bar2 {
         opacity: 0;
     }
     .change .bar3 {
         -webkit-transform: rotate(45deg) translate(-8px, -8px);
         -ms-transform: rotate(45deg) translate(-8px, -8px);
         transform: rotate(45deg) translate(-8px, -8px);
     }
     .twoblocks .firstrow .trichild {
         padding-left: 0;
     }
     .footer-links {
         padding: 0;
     }
     .footer-links .flex-container a {
         line-height: inherit;
     }
     .footer_image .footer_text {
         font-size: 12px;
         line-height: 12px
     }
     .twoblocks .firstrow .boxdiv,
     .twoblocks .secondrow .boxdiv {
         height: 200px;
     }
     .twoblocks .firstrow .boxdiv {
         left: 0;
     }
     .twoblocks .secondrow .boxdiv {
         right: 0;
     }
     .twoblocks {
         padding: 22px;
     }
 }