h1 {
    font-size: 56px;
    line-height: 64px;
    color: $grey-000;
    font-weight: 700;
    margin-bottom: var(--spacer-l);

    @include desktop-small {
        font-size: 48px;
        line-height: 56px;
    }

    @include mobile-landscape {
        font-size: 44px;
        line-height: 50px;
    }
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: $grey-000;
    margin-bottom: var(--spacer-m);

    @include desktop-small {
        font-size: 38px;
        line-height: 40px;
    }

    @include mobile-landscape {
        font-size: 32px;
        line-height: 34px;
    }
}

h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: $grey-000;
    font-weight: 700;
    margin-bottom: var(--spacer-base);

    @include desktop-small {
        font-size: 28px;
        line-height: 32px;
    }

    @include mobile-landscape {
        font-size: 24px;
        line-height: 30px;
    }
}

h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: $grey-000;
    margin-bottom: var(--spacer-base);

    @include desktop-small {
        font-size: 24px;
        line-height: 32px;
    }

    @include mobile-landscape {
        font-size: 20px;
        line-height: 24px;
    }
}

h5 {
    font-size: 24px;
    line-height: 22px;
    color: $grey-000;
    margin-bottom: var(--spacer-xs);

    @include desktop-small {
        font-size: 18px;
        line-height: 24px;
    }

    @include mobile-landscape {
        font-size: 18px;
        line-height: 24px;
    }
}

small {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: var(--spacer-s);
}

//paragraph types 
p {
    font-size: 16px;
    line-height: 24px;
    color: $grey-000;
    margin-bottom: var(--spacer-m);
    letter-spacing: -0.1px;

    @include mobile-landscape {
        font-size: 16px;
        line-height: 24px;
    }
}

.gds-paragraph--caption-s {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: $grey-000;
    margin-bottom: var(--spacer-m);
    letter-spacing: -0.1px;

    @include mobile-landscape {
        font-size: 16px;
    }
}

.gds-paragraph--xs {
    font-size: 12px;
    line-height: 16px;
    color: $grey-000;
    margin-bottom: var(--spacer-base);

    @include mobile-landscape {
        font-size: 12px;
        line-height: 16px;
    }
}

.gds-paragraph--s {
    font-size: 14px;
    line-height: 24px;
    color: $grey-000;
    margin-bottom: var(--spacer-xs);

    @include mobile-landscape {
        font-size: 14px;
        line-height: 18px;
    }
}

.gds-paragraph--l {
    font-size: 20px;
    line-height: 32px;
    color: $grey-000;
    margin-bottom: var(--spacer-m);
    letter-spacing: -0.1px;

    @include mobile-landscape {
        font-size: 18px;
        line-height: 28px;
    }
}

.gds-paragraph--lead {
    font-size: 24px;
    line-height: 34px;
    color: $grey-000;
    margin-bottom: var(--spacer-m);

    @include mobile-landscape {
        font-size: 18px;
        line-height: 25px;
    }
}

// heading alinement
.gds--align-center {
    text-align: $text-align-center;
}

.gds--align-right {
    text-align: $text-align-right;
}

.gds--align-left {
    text-align: $text-align-left;
}

//heading color classs
.gds-heading--contrast {
    color: $white-000;
}

.gds-heading--light {
    color: $primary-100;
}

// heading styles start
.gds-heading {
    margin-top: 0;
    color: $grey-000;
}
