.gds-icon {
    img {
        width: 34px;
        height: 34px;
        @media (max-width:1200px) {
            width: 24px;
            height: 24px;
        }
        @include mobile-landscape{
            width: 16px;
            height: 16px;
        }
    }
    svg{
        width: 34px;
        height: 34px;
        @media (max-width:1200px) {
            width: 24px;
            height: 24px;
        }
        @include mobile-landscape{
            width: 16px;
            height: 16px;
        }
    }
    ul{
        &.gds-black-bg-color{
            background-color: $blur-100;
        }
    }
}