// text colors
//primary colors
.text-primary-000 {
    color: $primary-000 !important;
}

.text-primary-100 {
    color: $primary-100 !important;
}

.text-primary-200 {
    color: $primary-200 !important;
}

.text-primary-300 {
    color: $primary-300 !important;
}

//Secondary
.text-secondary-000 {
    color: $secondary-000 !important;
}

.text-secondary-100 {
    color: $secondary-100 !important;
}

.text-secondary-200 {
    color: $secondary-200 !important;
}

.text-secondary-300 {
    color: $secondary-300 !important;
}

//Action
.text-action-000 {
    color: $action-000 !important;
}

.text-action-100 {
    color: $action-100 !important;
}

.text-action-lite-000 {
    color: $action-lite-000 !important;
}

.text-action-lite-100 {
    color: $action-lite-100 !important;
}

//Monotones 
.text-grey-000 {
    color: $grey-000 !important;
}

.text-grey-100 {
    color: $grey-100 !important;
}

.text-grey-090 {
    color: $grey-090 !important;
}

.text-grey-080 {
    color: $grey-080 !important;
}

.text-grey-070 {
    color: $grey-070 !important;
}

.text-grey-060 {
    color: $grey-060 !important;
}

.text-grey-050 {
    color: $grey-050 !important;
}

.text-grey-040 {
    color: $grey-040 !important;
}

.text-grey-030 {
    color: $grey-030 !important;
}

.text-grey-020 {
    color: $grey-020 !important;
}

.text-grey-021 {
    color: $grey-021 !important;
}

//white
.text-white-000 {
    color: $white-000 !important;
}

.text-black-000 {
    color: $blur-100 !important;
}

//States
//Success
.text-success-000 {
    color: $success-000 !important;
}

.text-success-100 {
    color: $success-100 !important;
}

//Info
.text-info-000 {
    color: $info-000 !important;
}

.text-info-100 {
    color: $info-100 !important;
}

//Warning
.text-warning-000 {
    color: $warning-000 !important;
}

.text-warning-100 {
    color: $warning-100 !important;
}

//Error
.text-error-000 {
    color: $error-000 !important;
}

.text-error-100 {
    color: $error-100 !important;
}

//Accent
.text-accent-000 {
    color: $accent-000 !important;
}

.text-accent-100 {
    color: $accent-100 !important;
}

.text-accent-200 {
    color: $accent-200 !important;
}

.text-accent-300 {
    color: $accent-300 !important;
}

.text-orange {
    color: $orange !important;
}

//background-colors
//primary background-colors
.bg-primary-000 {
    background-color: $primary-000 !important;
}

.bg-primary-100 {
    background-color: $primary-100 !important;
}

.bg-primary-200 {
    background-color: $primary-200 !important;
}

.bg-primary-300 {
    background-color: $primary-300 !important;
}

//Secondary background-colors
.bg-secondary-000 {
    background-color: $secondary-000 !important;
}

.bg-secondary-100 {
    background-color: $secondary-100 !important;
}

.bg-secondary-200 {
    background-color: $secondary-200 !important;
}

.bg-secondary-300 {
    background-color: $secondary-300 !important;
}

//Action background-colors
.bg-action-000 {
    background-color: $action-000 !important;
}

.bg-action-100 {
    background-color: $action-100 !important;
}

.bg-action-lite-000 {
    background-color: $action-lite-000 !important;
}

.bg-action-lite-100 {
    background-color: $action-lite-100 !important;
}

//Monotones background-colors
.bg-grey-000 {
    background-color: $grey-000 !important;
}

.bg-grey-100 {
    background-color: $grey-100 !important;
}

.bg-grey-090 {
    background-color: $grey-090 !important;
}

.bg-grey-080 {
    background-color: $grey-080 !important;
}

.bg-grey-070 {
    background-color: $grey-070 !important;
}

.bg-grey-060 {
    background-color: $grey-060 !important;
}

.bg-grey-050 {
    background-color: $grey-050 !important;
}

.bg-grey-040 {
    background-color: $grey-040 !important;
}

.bg-grey-030 {
    background-color: $grey-030 !important;
}

.bg-grey-020 {
    background-color: $grey-020 !important;
}

.bg-grey-021 {
    background-color: $grey-021 !important;
}

//white background-colors
.bg-white-000 {
    background-color: $white-000 !important;
}

.bg-black-000 {
    background-color: $blur-100 !important;
}

//States
//Success background-colors
.bg-success-000 {
    background-color: $success-000 !important;
}

.bg-success-100 {
    background-color: $success-100 !important;
}

//Info background-colors
.bg-info-000 {
    background-color: $info-000 !important;
}

.bg-info-100 {
    background-color: $info-100 !important;
}

//Warning background-colors
.bg-warning-000 {
    background-color: $warning-000 !important;
}

.bg-warning-100 {
    background-color: $warning-100 !important;
}

//Error background-colors
.bg-error-000 {
    background-color: $error-000 !important;
}

.bg-error-100 {
    background-color: $error-100 !important;
}

//Accent background-colors
.bg-accent-000 {
    background-color: $accent-000 !important;
}

.bg-accent-100 {
    background-color: $accent-100 !important;
}

.bg-accent-200 {
    background-color: $accent-200 !important;
}

.bg-accent-300 {
    background-color: $accent-300 !important;
}

.bg-orange {
    background-color: $orange !important;
}
