* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #091921;
    color:#fff;
    display: flex;
    justify-content: center;
    text-align: center;

}

.heading {
font-size: 2em;
margin: 3em 0 2em;
}

button {
    display: block;
    background-color: inherit;
    color:#fff;
    padding:10px 45px;
    border:1px solid #fff;
    outline: none;
    cursor: pointer;
    margin:auto;
}


#strength {
    width:230px;
}


.progress-msgs {
    height:50px;
}

.progress-msgs span {
color:#ffffff;
display: none;
}