.header {
	background-color: #03a9f4;
	position: sticky;
	top: 0;

	a {
		color: #ffffff;

	}

	.container {
		max-width: 1400px;
	}

	nav {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		@media (max-width:991px) {
			display: block;
		}
	}

	.left-nav {
		display: flex;
		padding: 20px 0;

		.toggle {
			display: none;

			.clickbar {

				.bar1,
				.bar2,
				.bar3 {
					width: 35px;
					height: 3px;
					background-color: #ffffff;
					margin: 7px 0;
				}

				&.change {
					.bar1 {
						transform: rotate(-45deg) translate(-7px, 6px);
					}

					.bar2 {
						opacity: 0;

					}

					.bar3 {
						transform: rotate(45deg) translate(-8px, -8px);
					}
				}
			}

			@media(max-width:991px) {
				display: block;
			}
		}

		ul {
			display: flex;
			position: relative;

			@media (max-width:991px) {
				position: absolute;
				flex-direction: column;
				top: 74px;
				background-color: #747bff;
				right: 0;
				left: 0;
				display: none;
			}

			&>li {
				@media (max-width:991px) {
					margin: 15px 0;
				}

				a {
					padding: 0 12px;

				}
			}

			ul {
				display: none;
				width: 110px;
				position: absolute;
				background: #ffffff;

				li {
					a {
						color: #03a9f4;
					}
				}

				&.links-open {
					@media (max-width:991px) {
						position: relative;
						top: 10px;
						display: block;
						left: 12px;
					}
				}
			}

			li {
				@media (min-width:992px) {
					&:hover {
						ul {
							display: block;
						}
					}
				}

			}

			&.open {
				display: flex;
			}

		}

		.mobile-search {
			width: auto;
			padding: 5px 12px;
			display: block;
			margin-bottom: 12px;
		}

		@media (max-width:991px) {
			justify-content: space-between;
		}
	}

	.right-nav {
		input {
			width: 136px;
			padding: 5px 12px;
		}
	}
}