// radio
label.error {
    display: inline-block;
    color: #CB3535;
    font-size: 12px;
    line-height: 16px;
}

.radio-parent [type="radio"]:checked,
.radio-parent [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radio-parent [type="radio"]:checked+label,
.radio-parent [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 44px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #383838;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.radio-parent [type="radio"]:checked+label:before,
.radio-parent [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #3B3B3B;
    border-radius: 100%;
    background: #fff;
}

.radio-parent [type="radio"]:checked+label:after,
.radio-parent [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 16px;
    height: 16px;
    background: #3768FF;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-parent [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio-parent [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

// radioerror 
.radio-parent.error [type="radio"]:checked+label:before,
.radio-parent.error [type="radio"]:not(:checked)+label:before {
    border: 1px solid #CB3535;

}

.radio-parent.error [type="radio"]:checked+label:after,
.radio-parent.error [type="radio"]:not(:checked)+label:after {
    background: #CB3535;

}

// radio focus
.radio-parent [type="radio"]:focus+label:before {
    outline: 2px solid #3768FF;
}

// radiodisabled
.radio-parent.disabled[type="radio"]:checked+label:before,
.radio-parent.disabled[type="radio"]:not(:checked)+label:before {
    border: 1px solid #C8C8C8;

}

.radio-parent.disabled[type="radio"]:checked+label:after,
.radio-parent.disabled[type="radio"]:not(:checked)+label:after {
    background: #C8C8C8;

}

// checkbox

.checkbox-parent .js-webform-checkbox {
    margin-bottom: 20px;
}

.checkbox-parent [type="checkbox"]:checked,
.checkbox-parent [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.checkbox-parent [type="checkbox"]:checked+label,
.checkbox-parent [type="checkbox"]:not(:checked)+label {
    position: relative;
    padding-left: 44px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #383838
}

.checkbox-parent [type="checkbox"]:checked+label:before,
.checkbox-parent [type="checkbox"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #3B3B3B;
    border-radius: 3px;


}

.checkbox-parent [type="checkbox"]:checked+label:after,
.checkbox-parent [type="checkbox"]:not(:checked)+label:after {
    content: '\2714';
    font-size: 18px;
    color: #3768FF;
    position: absolute;
    top: 2px;
    left: 5px;
    visibility: hidden;
}

.checkbox-parent [type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.checkbox-parent [type="checkbox"]:checked+label:after {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


// text

.text-fields {
    &::placeholder {
        font-size: 14px;
        line-height: 24px;
        color: #383838;

    }

    label {
        display: block;
        margin-top: 15px;
    }

    input {
        border-radius: 4px;
        border: 0.5px solid #3B3B3B;
        padding: 8px;
        font-size: 14px;
        line-height: 24px;
        width: 384px;
        color: #383838;

    }
}
