.image-comparison {
    margin-right: auto;
    margin-left: auto;
    max-width: 902px;

    &.variation-two {
        .image-comparison-slider {
            background-color: $secondary-000;
        }

        .image-comparison-thumb {
            background-color: transparent;
        }

        svg {
            path {
                stroke: $secondary-000;
            }
        }
    }
}

.image-comparison-slider-wrapper {
    position: relative;
}

.image-comparison-label {
    font-size: 0;
    line-height: 0;
}

.image-comparison-picture {
    .slider-img-desktop {
        display: none;

        @media (min-width:769px) {
            display: block;
        }
    }

    .slider-img-tablet {
        display: none;

        @media(max-width:768px) and (min-width:568px) {
            display: block;
        }
    }

    .slider-img-mobile {
        display: none;

        @media (max-width:567px) {
            display: block;
        }
    }

}

.image-comparison-label,
.image-comparison-range {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    appearance: none;
    outline: none;
    cursor: ew-resize;
    z-index: 20;
}

.image-comparison-image-wrapper-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% + 2px);
    height: 100%;
    overflow: hidden;
}

.image-comparison-figure {
    margin: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    &:not(&-overlay) {
        position: relative;
        padding-top: 66.666666667%;
    }
}

.image-comparison-caption-body p {
    margin-bottom: 0;
}

.image-comparison-caption-body .caption-small {
    font-weight: 400;
}

.image-comparison-picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
    overflow: hidden;

    .image-comparison-figure-overlay & {
        z-index: 1;
    }
}

.image-comparison-caption {
    position: absolute;
    top: 5px;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    font-weight: bold;

    @media screen and (max-width: 641px) {
        font-size: 12px;
    }
}

.image-comparison-caption-before {
    left: 5px;
    z-index: 2;
}

.image-comparison-caption-after {
    right: 5px;
    text-align: right;
}

.image-comparison-caption-body {
    max-width: 158px;
    padding: 8px 12px;
    display: block;

    span {
        display: block;
        font-weight: 400;

    }
}

.image-comparison-slider {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: $white-000;
    transition: background-color 0.3s ease-in-out;
    z-index: 10;

    .image-comparison-range-active~& {
        background-color: rgba($grey-000, 0);
    }
}

.image-comparison-thumb {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 30px);
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-000;
    border-radius: 50%;
    transform-origin: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.image-comparison-range::-webkit-slider-runnable-track {
    width: 40px;
    height: 40px;
    opacity: 0;
}

.image-comparison-range::-moz-range-thumb {
    width: 40px;
    height: 40px;
    opacity: 0;
}

.image-comparison-range::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
    opacity: 0;
}

.image-comparison-range::-ms-fill-lower {
    background-color: transparent;
}

.image-comparison-range::-ms-track {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: transparent;
    outline: none;
    cursor: col-resize;
}

.image-comparison-range::-ms-thumb {
    width: 0.5%;
    height: 100%;
    opacity: 0;
}

.image-comparison-range::-ms-tooltip {
    display: none;
}
