.gds-imgzoom-parent {
    display: flex;
    justify-content: center;

    .gds-img-zoom {
        position: relative;
        display: inline-block;

        .gds-img-parent {
            position: relative;
            overflow: hidden;
            cursor: pointer;

            img {
                max-width: 100%;
            }
        }

        .gds-overlay-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .gds-zoom-button {
            position: absolute;
            bottom: 8px;
            right: 8px;
            cursor: pointer;
            padding: 6px 9px;
            background-color: $accent-000;
            padding-left: 22px;

            &:before {
                content: "";
                width: 16px;
                height: 16px;
                background: url(../images/zoom-btn.svg) no-repeat center;
                background-size: cover;
                position: absolute;
                left: 2px;
                top: 10px;
            }

            p {
                margin-bottom: 0;
            }
        }

        .gds-overlay-modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.8);

            .gds-overlay-content {
                position: relative;
                margin: 15% auto;
                width: 100%;
                max-width: 1216px;
                background-color: $white-000;
                padding: 0px;
                border-radius: 4px;

                @include desktop-small {
                    max-width: 720px;
                }
            }
        }

        .gds-overlay-modal-img {
            width: 100%;
            height: auto;
        }

        .gds-normal-btn {
            position: absolute;
            top: 8px;
            right: 4px;
            width: 24px;
            height: 24px;
            background: url(../images/normal-btn.svg) no-repeat center;
            background-size: 20px 20px;
            cursor: pointer;
            padding: 4px;
            background-color: $accent-000;
        }

        .gds-zoom-control {
            position: absolute;
            bottom: 5px;
            right: 5px;
            cursor: pointer;

            .zoom-in {
                display: block;
                width: 24px;
                height: 24px;
                background: url("../images/zoom-in.svg") no-repeat center;
                background-size: 20px 20px;
                background-color: $accent-000;
                margin-bottom: 4px;
                padding: 4px;
            }

            .zoom-out {
                display: block;
                width: 24px;
                height: 24px;
                background: url("../images/zoom-out.svg") no-repeat center;
                background-size: 20px 20px;
                background-color: $accent-000;
                padding: 4px;

                &.disabled {
                    pointer-events: none;
                    opacity: 0.5;
                }
            }
        }

        .gds-image-wrap {
            overflow: hidden;
            border-radius: 4px;
        }
    }
}
