.jump-links-parent {
    position: relative;


    .jump-links {

        &.link-sticky {
            position: fixed;
            top: 0;
            z-index: 50;
            width: 100%;
            height: 49px;
            background-color: $white-000;
            max-width: 1216px;

        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            overflow: hidden;
            white-space: nowrap;
            height: 49px;
            align-items: center;


            @include desktop-small {

                text-align: center;
            }

            li {

                display: inline-block;
                margin-bottom: 0;

                @include desktop-small {
                    margin-right: 0;
                }
            }

            a {

                color: $grey-100;
                font-size: 16px;
                line-height: 20px;
                position: relative;
                display: inline-block;
                padding: 10px 24px;
                padding-left: 0;
                white-space: nowrap;

                @include desktop-small {
                    padding: 12px;
                }

                @include mobile {
                    padding: 8px;
                }



                &:hover {
                    text-decoration: none;
                }

            }
        }

        .jumplink-pagination {
            display: flex;
            align-items: center;
            overflow-x: auto;
            white-space: nowrap;

            .previous,
            .next {
                display: none;
                cursor: pointer;
                padding: 10px 15px;
                background-color: $white-000;
                position: relative;
                width: 32px;
                height: 44px;

                @media (min-width: 768px) {
                    display: block;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("../images/chevron-right.svg");
                    background-size: 16px 16px;
                    background-position: center;

                }

                &.next {
                    border-left: 1px solid $grey-009;


                }

                &.previous {
                    border-right: 1px solid $grey-009;

                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }

            .next {
                @media (min-width:768px) {
                    display: none !important;
                }
            }

        }


    }

    &.variation-2 {
        ul {
            li {
                margin-right: 25px;
                position: relative;

                @media (min-width:992px) {
                    &:last-child {
                        margin-right: 0;
                    }
                }

                a {
                    padding: 7px 25px;
                    padding-left: 0;

                    &::after {
                        position: relative;
                        content: "";
                        display: inline-block;
                        width: 9px;
                        height: 9px;
                        border-right: 1px solid $primary-000;
                        border-top: 1px solid $primary-000;
                        transform: rotate(135deg);
                        left: 15px;
                        top: -2px;
                    }


                }



                @media (min-width:1280px) {
                    &:hover {


                        ul {
                            display: block;
                        }
                    }
                }

                &.open {


                    ul {
                        position: relative;
                        display: block;
                        top: 2px;

                    }
                }
            }
        }


    }

    &.jump-link-even {
        .jump-links {
            .jumplink-pagination {
                display: flex;
                justify-content: space-between;

                .previous,
                .next {
                    display: none !important;
                }

                ul {
                    display: flex;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    width: 100%;

                    li {
                        flex: 1;
                        text-align: center;

                        .ids-buttons {
                            width: 100%;

                            a {
                                display: inline-block;
                                width: 100%;
                                text-align: left;
                                padding-left: 0;

                                button {
                                    width: 100%;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
