.gds-gradient-banner {
    position: relative;

    .gds-banner-desktop {
        display: none;

        @media (min-width:1280px) {
            display: block;
        }
    }

    .gds-banner-tablet {
        display: none;

        @media (min-width:568px) and (max-width:1279px) {
            display: block;
        }
    }

    .gds-banner-mobile {
        display: none;

        @include mobile {
            display: block;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90.18deg, rgba(0, 0, 0, 0.96) -14.85%, rgba(0, 0, 0, 0) 93.81%); // 
        z-index: 1;

        @include desktop-small {
            background: linear-gradient(0.12deg, rgba(0, 0, 0, 0.96) -9.07%, rgba(0, 0, 0, 0) 47.18%);

        }

        @include mobile {
            background: linear-gradient(0.12deg, rgba(0, 0, 0, 0.96) 5.36%, rgba(0, 0, 0, 0) 62.61%);


        }
    }


    .gds-banner-img {



        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }

    }

    .placeholder-image {
        z-index: 4;
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;

        @include desktop-small {
            left: 13px;
            right: auto;
            margin: 0 auto;
            bottom: 0;
            top: -147px;
            max-width: 162px;
        }

        @include mobile {
            left: 15px;
            right: auto;
            margin: 0 auto;
            bottom: 0;
            top: 13px;
            max-width: 111px;
        }

    }

    .gds-gradient-content {

        margin: 0 auto;

        padding: 96px 0px;
        position: relative;
        z-index: 2;

        @include desktop-small {
            padding: 396px 0 32px;
        }

        @include mobile {
            padding: 280px 0px 24px;
        }

        p {
            margin-top: 18px;

            font-size: 20px;
            line-height: 32px;
            margin-bottom: 0;

            @include desktop-small {
                font-size: 18px;
                line-height: 28px;

            }


        }

        .gds-highlight-banner__content {
            padding: 0;
            position: relative;
            z-index: 2;
            max-width: 552px;


            .gds-btn-wrapper {
                margin-right: 25px;

                @include mobile {
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }

            @include mobile {
                margin-top: var(--spacer-m);
            }

            p,
            h1 {
                color: $white-000;
            }

            h1 {
                font-size: 56px;
                line-height: 64px;
                font-weight: 700;
                margin-bottom: 16px;

                @include desktop-small {
                    font-size: 48px;
                    line-height: 56px;
                }

                @include mobile {
                    font-size: 44px;
                    line-height: 52px;
                }
            }

            .heading-bold {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                margin-top: 0;
                margin-bottom: 12px;


            }

            .gds-btn-light {
                margin-right: var(--spacer-m);
            }

            .gds-highlight-banner__actions {
                display: flex;
                margin-top: 41px;

                @include mobile {
                    flex-direction: column;
                }
            }

        }

    }



    &.center-content {
        .gds-gradient-content {
            .gds-highlight-banner__content {
                max-width: 593px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .gds-btn-wrapper {
            a {
                @include mobile {
                    width: 100%
                }
            }

        }
    }



}
