@media (max-width:991px) {
    .floating-side-nav {
        .row {
            flex-direction: column-reverse;
        }
    }

    .floating-side-nav.left-nav {
        .row {
            flex-direction: column;
        }
    }
}

.floating-side-nav {
    h4 {
        @media (max-width:991px) {
            margin-top: 24px;
        }
    }
}

.sticky-nav-wrapper {
    position: relative;

}


.sticky-link-nav {
    position: sticky;
    top: 20px;
}

.article-float-nav {


    position: sticky;
    top: 20px;

    @media (max-width:991px) {

        padding: 4px;



    }

    @media (max-width:991px) {
        border: 1px solid $primary-000;
    }

    .heading-sticky {
        cursor: pointer;
        font-weight: 700;
        margin-bottom: 16px;
        position: relative;

        &:after {
            content: url('../images/chevron-down.svg');
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: none;

            @media (max-width:991px) {
                display: block;
            }
        }


    }

    ul {
        border: 1px solid $primary-000;
        display: block;
        list-style: none;
        padding: 0;
        margin-top: 10px;
        max-width: 258px;
        border-radius: 4px;

        @media (max-width:991px) {
            max-width: none;
            border: 0;
            display: none;
            border-top: 1px solid $grey-040;
            padding-top: 12px;
        }

        li {
            margin-bottom: 5px;

            a {
                text-decoration: none;
                color: #3768FF;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                padding: 12px 8px;
                width: 100%;
                display: inline-block;

                &.sticky-active {
                    border-radius: 4px;
                    background: #3768FF;
                    color: #FFF;
                    font-weight: 700;
                }

                &:hover {
                    @media (min-width:992px) {
                        border-radius: 4px;
                        background: #3957B3;
                        color: #FFF;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}


// .floating-side-nav {
//     .row {
//         display: flex;
//         // flex-direction: row-reverse;
//         /* Reverse the order for the sticky navigation */
//     }
