.gds-blockquote {
    border-radius: 4px;

    img {
        display: inline-block;
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }

    p {
        margin-bottom: 0;
        font-size: 24px;
        line-height: 32px;

        &.main-body {
            margin: var(--spacer-base) 0;
            font-size: 18px;
            line-height: 28px;
        }

        &.person-name {
            font-size: 28px;
            line-height: 32px;
            font-weight: 700;
            margin-bottom: var(--spacer-base);
        }
    }

    &.small-card {
        padding: var(--spacer-base);
        max-width: 384px;

        p {
            font-size: 14px;
            line-height: 16px;

            &.main-body {
                margin: var(--spacer-base) 0;
                font-size: 18px;
                line-height: 28px;
            }

            &.person-name {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: var(--spacer-base);
            }
        }
    }
}

.gds-blockquote-small {
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.gds-blockquote-person {
    max-width: 384px;

    blockquote {
        padding: var(--spacer-base);
        border-radius: 4px;

        p {
            font-size: 24px;
            line-height: 32px;

            @include mobile {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }

    .person-section {
        display: flex;
        margin-top: var(--spacer-base);

        img {
            margin-right: var(--spacer-base);
        }

        h4 {
            font-weight: 700;
            margin-bottom: var(--spacer-base);
        }

        .btn {
            padding: 0;
        }
    }
}
