.range-slider-parent {
    display: flex;
    justify-content: center;
    width: 840px;
    margin: 0 auto;

    @include desktop-small {
        width: 100%;
        max-width: 720px;
    }

    @include mobile {
        width: 100%;
        max-width: 336px;
    }

    .range-item {
        position: relative;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        form {
            margin: 0;
            position: relative;
            display: flex;

            input {
                position: relative;
                z-index: 2;
                cursor: pointer;
                border: 0;
                opacity: 0;

                &:focus-visible {
                    outline-offset: 0;
                    outline: 0;
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100%;
            margin-top: 8px;
            margin-left: -23px;

            @include desktop-small {
                margin-left: -11px;
            }

            @media (min-width:568px) and (max-width:767px) {
                margin-left: -9px;
            }

            @include mobile {
                margin-left: -1px;
            }



            .list-inline-item:not(:last-child) {
                margin-right: 0;
            }

            .list-inline-item {
                span {
                    position: relative;
                    min-width: 81px;
                    text-align: center;
                    display: block;
                    font-size: 16px;
                    padding-top: 4px;
                    word-break: break-word;
                    line-height: 24px;
                    color: $grey-070;

                    @include desktop-small {
                        min-width: 68px;
                    }

                    @media (min-width:568px) and (max-width:767px) {
                        min-width: 52px;
                    }

                    @include mobile {
                        min-width: 28px;
                        position: relative;
                        left: 5px;
                    }

                }

                &.current-range {
                    span {
                        font-weight: 700;
                        color: $primary-000;
                    }

                }
            }

        }

        .range-line {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 8px;
            width: calc(100% - 14px);
            background-color: $primary-300;
            z-index: 0;
            overflow: hidden;

            .active-line {
                position: absolute;
                left: 0;
                width: 0;
                height: 100%;
                background-color: $primary-000 ;
                transition: all 0.1s ease;
            }
        }

        .dot-line {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: calc(100% - 24px);
            left: 0;
            z-index: 1;

            .active-dot {
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                cursor: pointer;
                background-color: $primary-000 ;
                height: 32px;
                width: 32px;
                z-index: 11;
                left: 0%;
                border-radius: 50%;
            }
        }



        .form-label-wrap {
            display: flex;
            justify-content: space-between;

            margin-top: 20px;

            span {
                color: $grey-000;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;

            }
        }
    }

    &.range-handle {
        .range-item {
            .dot-line {
                .active-dot {

                    background-color: transparent;
                    height: 55px;


                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-image: url(../images/range-handle.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 32px 32px;
                        height: 32px;
                        width: 32px;
                        background-color: transparent;
                        display: block;
                    }
                }
            }
        }
    }

    &.range-slider-center {
        .range-item {
            .range-line {
                .active-line {
                    display: none;
                }
            }
        }
    }
}
