.ids-search-block {
  h2 {
    display: none;
  }
}

.search-bar {
  position: relative;
  width: 100%;
  max-width: 60px;
  height: auto;
  margin: 0;
  background-color: $white-000;
  border-radius: 6px;
  // transition: all 0.5s ease-in-out;

  &.open {
    max-width: 100%;
    margin-right: var(--spacer-xl);

    input {
      border: 1px solid $grey-050;
    }

    .search {
      display: none;
    }
  }

  input {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $grey-060;
    padding: var(--spacer-base);
    border: none;
    outline: none;
    //   transition: all 0.5s ease-in-out;
    border-radius: 4px;
    background-color: $white-000;
  }

  // &.open input {
  //   padding: 0 15px 0 65px;
  // }

  .search {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-000;
    border-radius: 6px;
    cursor: pointer;
  }

  &.open .search {
    border-radius: 6px 0 0 6px;
  }

  .close-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    padding: 3px;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
  }

  &.open .close-icon {
    transform: translateY(-50%) rotate(180deg);
    pointer-events: auto;
    opacity: 1;
  }

  // &.search-full-width{
  //     max-width: 100%;
  //     input{
  //         border: 1px solid $grey-050;
  //     }
  //     .close-icon-full {
  //         position: absolute;
  //         top: 50%;
  //         right: 12px;
  //         padding: 3px;
  //         transform: translateY(-50%);
  //         transition: all 0.5s ease-in-out;
  //         cursor: pointer;
  //         pointer-events: none;
  //     }
  // }
}


.search-open {
  display: none;
}

.search-actions {
  .paragraph {
    display: contents;
  }
}

.google-json-api-search-box-form {
  .gjas-remainder {
    display: none;
  }

  .gjas-form-elements {
    flex-wrap: nowrap;

    input {
      position: relative;
      width: 100%;
      height: 100%;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: $grey-060;
      padding: var(--spacer-base);
      border: 1px solid $grey-050;
      border-radius: 4px;
      background-color: $white-000;
    }

    .search {
      position: relative;
      right: 49px;
      top: 16px;
      cursor: pointer;
    }
  }
}

// list and grid view
.search-result-wrapper {
  &.list_view {
    .search-result-items {
      .gjas-results--message {
        padding: 0;
      }

      .result {
        display: flex;

        @media (max-width:767px) {
          flex-direction: column;
        }
      }
    }
  }

  &.grid_view {
    .search-result-items {
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(-1* var(--bs-gutter-y));
      margin-right: calc(-.5* var(--bs-gutter-x));
      margin-left: calc(-.5* var(--bs-gutter-x));

      .gjas-results--message {
        padding: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x)* .5);
        padding-left: calc(var(--bs-gutter-x)* .5);
      }

      .result {
        border-radius: 4px;
        border: 1.5px solid $accent-000;
        background: $white-000;
        max-width: 384px;
        padding: 0;
        margin: 0 var(--spacer-base) var(--spacer-l);

        @media (max-width:1024px) {
          max-width: 294px;
        }

        @media (max-width:767px) {
          max-width: 100%;
        }

        @media (max-width:767px) {
          flex-direction: column;
        }

        .search-result-content {
          padding: var(--spacer-base);
        }
      }
    }
  }

  .search-result-items {
    .gjas-results--message {
      span {
        display: flex;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: var(--spacer-m);
        padding: 0;

        @media (max-width:1023px) {
          justify-content: space-between;
        }

        h4 {
          font-size: 20px;
          line-height: 32px;
          margin: 0;
        }
      }
    }

    .result {
      margin-bottom: var(--spacer-m);

      img {
        max-width: 384px;
        height: auto;
      }

      .search-result-content {
        padding-left: var(--spacer-base);

        @media (max-width:767px) {
          padding: var(--spacer-base);
        }

        .title {
          padding-bottom: var(--spacer-base);

          a {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
          }
        }

        .snippet {
          span {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
  }
}

//pagenaction
nav.pager {
  display: flex;
  justify-content: space-around;
  margin-top: var(--spacer-m);

  ul.pager__items.js-pager__items {
    display: flex;
    list-style-type: none;

    li {
      padding: 0 8px;

      &.pager__item {
        &.is-active {
          a {
            color: $blur-100;
          }

        }
      }

      &.pager__item.pager__item--first {
        display: none;
      }

      &.pager__item--previous,
      &.pager__item--next {
        padding: 0;
      }

      &.pager__item.pager__item--next {
        padding-left: var(--spacer-m);
      }

      &.pager__item.pager__item--previous {
        padding-right: var(--spacer-m);
      }
    }
  }
}


// additional styles for search

// header overriding style 
.gds-header-main .ids-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}

.gds-header-main .ids-actions {
  position: relative !important;
}

.gds-header-main .ids-search {
  position: absolute !important;
  right: 0;
  top: 0;
  z-index: 2;
}

.search-block-form {
  position: relative !important;
}

.search-bar input {
  position: absolute !important;
  right: 111px;
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  z-index: 0;
  /* left: 0; */
  border-radius: 4px;
  border: 1px solid #A9A9A9;
  top: -15px;


}

.search-bar input.search-active {
  width: 900px !important;
  opacity: 1;
}

.search-bar .search {
  left: -160px;
}

.gds-header-main .ids-actions img {
  width: 27px;
}
