.gds-secondary-navigation {

    padding: 10px 0;

    .gds-secondary-nav {


        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            @include desktop-small {
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            li {
                margin-right: 0;

                @media (min-width:1280px) {
                    &:last-child {
                        margin-right: 0;
                    }
                }

                a {

                    color: #005CAB;
                    font-size: 16px;
                    line-height: 20px;
                    position: relative;
                    display: inline-block;
                    padding: 7px 25px;
                    padding-left: 0;



                }
            }
        }
    }

    &.variation-1 {
        ul {
            li {
                margin-right: 25px;
                position: relative;

                @media (min-width:1280px) {
                    &:last-child {
                        margin-right: 0;
                    }
                }

                a {
                    padding: 7px 25px;
                    padding-left: 0;

                    &::after {
                        position: relative;
                        content: "";
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        border-right: 1px solid $action-100;
                        border-top: 1px solid $action-100;
                        transform: rotate(135deg);
                        left: 15px;
                        top: -2px;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -3px;
                        height: 2px;
                        background-color: $action-100;
                        transition: width 0.3s ease;
                    }
                }


                // ul {
                //     position: absolute;
                //     background-color: $white-000;
                //     display: none;
                //     left: 0;
                //     top: 39px;
                //     padding: 12px;
                //     z-index: 20;

                //     li {
                //         display: block;
                //         margin: 0;

                //         a {
                //             padding: 8px;

                //             &:before {
                //                 display: none;
                //             }

                //             &:after {
                //                 display: none;
                //             }
                //         }
                //     }
                // }


                @media (min-width:1280px) {
                    &:hover {


                        ul {
                            display: block;
                        }
                    }
                }

                &.open {


                    ul {
                        position: relative;
                        display: block;
                        top: 2px;

                    }
                }
            }
        }


    }
}
