.gds-tabs {
    .gds-tabs-link {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            overflow: hidden;
            white-space: nowrap;
            height: 49px;
            border-bottom: 0.5px solid $grey-040;

            @media (max-width:767px) {
                height: 39px;
            }

            @include desktop-small {
                display: block;
                text-align: center;
            }

            li {
                margin-right: 10px;
                display: inline-block;

                @include desktop-small {
                    margin-right: 0;
                }
            }

            a {
                text-decoration: none;
                color: $primary-000;
                padding: 13px 16px;
                position: relative;
                border: 0;
                border-bottom: 2px solid transparent;
                font-weight: 400;
                border-radius: 0;

                @media (max-width: 1279px) {
                    padding: 12px;
                }

                @include mobile {
                    padding: 8px;
                }

                button {
                    border: 0;
                    font-weight: 400;
                    text-decoration: none;
                    color: $grey-100;
                    padding-left: 0;
                    padding-right: 0;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &.tab-active {
                    font-weight: 700;
                    border-bottom: 2px solid $primary-000;

                    button {
                        font-weight: 700;
                        color: $primary-000;
                    }
                }

                &:hover {
                    text-decoration: none;
                }

            }
        }

        .tabs-pagination {
            display: flex;
            align-items: center;
            overflow-x: auto;
            white-space: nowrap;

            .previous,
            .next {
                display: none;
                cursor: pointer;
                padding: 10px 15px;
                background-color: $white-000;
                position: relative;
                width: 32px;
                height: 44px;

                @media (min-width: 768px) {
                    display: block;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("../images/chevron-right.svg");
                    background-size: 16px 16px;
                    background-position: center;
                }

                &.next {
                    border: 1px solid $grey-009;
                }

                &.previous {
                    border: 1px solid $grey-009;

                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .gds-tabs-content {
        .tabs-content-wrap {
            display: none;
            border-top: none;
            border-radius: 5px;
            padding-top: 12px;

            &.active {
                display: block;
            }
        }
    }

    &.tab-image {
        .gds-tabs-link {
            .tabs-pagination {


                .previous,
                .next {
                    top: 9px;
                    height: 131px;

                }
            }

            ul {
                height: 150px;

                li {
                    a {

                        display: block;
                        padding-top: 0;
                        padding-bottom: 0;
                        padding: 0;
                        margin-top: 18px;

                        .tab-slide-img {
                            img {
                                max-width: 172px;
                            }
                        }

                        .tab-slide-desc {
                            background-color: $white-000;

                            p {
                                padding: 4px;
                                color: $grey-000;
                                font-weight: 700;
                                margin-bottom: 0;
                            }
                        }

                        &.tab-active {
                            .tab-slide-desc {
                                background-color: $primary-000;

                                p {
                                    padding: 4px;
                                    color: $white-000;
                                }
                            }

                        }
                    }
                }

            }
        }

        &.tab-reverse {
            display: flex;
            flex-direction: column-reverse;
        }

        .button-area .ids-layout-primary {
            display: flex;
            justify-content: space-between;
            margin-top: 32px;

            @media (max-width:767px) {
                margin-top: 24px;
            }
        }

        .next-tab {
            text-align: right;

            a {
                color: #2c333a;
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                position: relative;
                right: -19px;

                @media (max-width:767px) {
                    font-size: 18px;
                }

                svg {
                    width: 24px;
                    height: 24px;
                    position: relative;
                    left: -8px;

                    path {
                        stroke: $primary-000;
                    }
                }

                &:hover {
                    color: $primary-600;


                    svg {


                        path {
                            stroke: $primary-600;
                        }
                    }
                }

                &:focus-visible {
                    color: $primary-400;
                    outline: 0.5px solid #333399;

                    svg {


                        path {
                            stroke: $primary-400;
                        }
                    }
                }

                &:active {
                    color: #333399;

                    svg {


                        path {
                            stroke: #333399;
                        }
                    }
                }

            }


        }

        .prev-tab {
            text-align: left;

            a {
                color: #2c333a;
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                position: relative;
                left: -12px;

                @media (max-width:767px) {
                    font-size: 18px;
                }

                svg {
                    width: 24px;
                    height: 24px;


                    path {
                        stroke: $primary-000;
                    }
                }

                &:hover {
                    color: $primary-600;


                    svg {


                        path {
                            stroke: $primary-600;
                        }
                    }
                }

                &:focus-visible {
                    color: $primary-400;
                    outline: 0.5px solid #333399;

                    svg {


                        path {
                            stroke: $primary-400;
                        }
                    }
                }

                &:active {
                    color: #333399;

                    svg {


                        path {
                            stroke: #333399;
                        }
                    }
                }

            }



        }

        @media(max-width: 991px) {
            .scroll-div .row {
                overflow-x: scroll;
                width: 100% !important;
                flex-flow: nowrap;
            }

            .scroll-div .row .col-lg-3 {
                max-width: 275px !important;
            }

        }

        @media(max-width: 767px) {
            .scroll-div .row .col-lg-3.p-lr-0 {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
        }

        .scroll-div {
            scrollbar-color: #d4aa70 #e6e6e6;
            scrollbar-width: thin;
        }

        .scroll-div::-webkit-scrollbar-track {
            background-color: #e4e4e4;
            border-radius: 100px;
        }

        .scroll-div::-webkit-scrollbar-thumb {
            border-radius: 100px;
            border: 5px solid transparent;
            background-clip: content-box;
            background-color: #8070d4;
        }
    }

    &.tabs-even-space {
        .gds-tabs-link {
            .tabs-pagination {
                display: flex;
                justify-content: space-between;

                .previous,
                .next {
                    display: none !important;
                }

                ul {
                    display: flex;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    width: 100%;

                    li {
                        flex: 1;
                        text-align: center;

                        .ids-buttons {
                            width: 100%;

                            a {
                                display: inline-block;
                                width: 100%;
                                text-align: left;
                                padding-left: 0;

                                button {
                                    width: 100%;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
