.gds-highlight-banner {
    background-color: $accent-300;
    position: relative;

    .gds-gird-flex {
        display: flex;

        @include desktop-small {
            flex-direction: column-reverse;
        }
    }

    .gds-highlight-banner__content {
        padding: var(--spacer-xl) var(--spacer-xl) var(--spacer-xxl) 0;

        @include desktop-small {
            padding: var(--spacer-l) 0;
        }

        p {
            margin-bottom: var(--spacer-s);
        }

        h1 {
            margin-bottom: var(--spacer-base);
            font-weight: 700;
            line-height: 64px;
        }

        .gds-paragraph--l {
            margin-bottom: var(--spacer-xl);
        }

        h6 {
            margin-bottom: 12px;
        }

        .btn-primary {
            margin-right: var(--spacer-m);
        }
    }

    .gds-highlight-banner__figure {
        flex-basis: 40%;
        display: flex;
        justify-content: flex-end;

        @media (max-width:1120px) {
            flex-basis: 50%;
        }

        @include desktop-small {
            justify-content: center;
        }
    }

    &.gds-img-full-with {
        &.row {
            .container {
                .row {
                    @media (max-width:991px) {
                        flex-wrap: wrap-reverse;
                    }
                }
            }
        }

        .gds-highlight-banner__content {
            @media (max-width:1120px) {
                max-width: 80%;
            }

            @media (max-width:768px) {
                max-width: 100%;
            }
        }

        .gds-highlight-banner__figure {
            @include ipad-potrait {
                min-height: 491px;
            }

            @media (min-width:1920px) {
                min-height: auto;
            }

            img {
                right: 0;

                @media (min-width:1024px) {
                    width: 491px;
                    position: absolute;
                }

                @media (min-width:1920px) {
                    position: relative;
                }
            }
        }
    }

    //contrast
    &.highlight-contrast {
        &.row {
            .container {
                .row {
                    @media (max-width:991px) {
                        flex-wrap: wrap-reverse;
                    }
                }
            }
        }

        background-color: $secondary-000;
        padding: var(--spacer-xl) 0 var(--spacer-xxl);

        @include desktop-small {
            padding: var(--spacer-l) 0;
        }

        .gds-highlight-banner__content {
            padding: 0;

            @include mobile {
                margin-top: var(--spacer-m);
            }

            p,
            h1,
            h6 {
                color: $white-000;
            }

            .btn-light {
                margin-right: var(--spacer-m);
            }

            h6 {
                margin-bottom: 12px;
            }
        }

        .gds-highlight-banner__figure {
            @include desktop-small {
                display: block;
            }

            .gds-highlight-banner__card {
                .gds-card-body {
                    display: flex;
                    flex-direction: column;

                    .btn-link {
                        padding: 0;
                        color: $white-000;
                        text-decoration: none;
                        font-weight: 400;
                    }

                    a {
                        color: $white-000;
                        padding-top: var(--spacer-base);

                        &:before {
                            content: "";
                            position: relative;
                            width: 14px;
                            height: 14px;
                            background-image: url(../images/right-arrow-btn.png);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            right: -48%;
                            display: block;
                            top: 20px;

                            @include desktop-small {
                                right: -101%;
                            }

                            @include mobile {
                                right: -135px;
                            }
                        }
                    }
                }

                @include desktop-small {
                    display: flex;
                    justify-content: space-between;

                    .gds-banner-card-img {
                        margin-bottom: var(--spacer-m);
                    }
                }

                @include mobile {
                    flex-direction: column;
                }
            }
        }
    }

    //Middel-bland-img
    &.gds-middel-bland-img {
        .gds-highlight-banner__content {
            flex-basis: 40%;

            @include desktop-small {
                flex-basis: 50%;
            }

            @media (max-width:1024px) {
                padding: 20px 20px 20px 0;
            }
        }

        .gds-highlight-banner__figure {
            flex-basis: 60%;

            @include desktop-small {
                flex-basis: 50%;
            }

            justify-content: end;

            .gds-tab-alint {
                div {
                    width: 100%;
                    height: 100%;
                }

                img {
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    right: 0;

                    @media (min-width:1024px) {
                        width: 512px;
                    }

                    @media (min-width:1279px) {
                        width: 646px;
                    }

                    @media (min-width:1280px) {
                        width: 52%;
                    }
                }
            }
        }

        .gds-middel-img {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 1;
        }
    }
}
