 * {
     -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
     box-sizing: border-box;

}
 header, section, footer, aside, nav, main, article, figure {
     display: block;
}
 body, h1, h2, p, ul, ol {
     margin: 0;
     padding: 0;
}
 ul, ol, li {
     list-style-type: none;
}
 img {
     max-width: 100%;
     vertical-align: middle;
     height: auto;
}
 body {
     color: #333333;
     font-size: 16px;
     line-height: 1.42857143;
     background-color: #ffffff;
     -webkit-tap-highlight-color: transparent;
     font-family: "Segoe UI" , Arial, sans-serif;
    
}
 a {
     text-decoration: none;
}
 a:hover {
     text-decoration: underline;
}
 input:focus, select:focus, textarea:focus, button:focus {
     outline: none;
}
 button {
     cursor: pointer;
     -ms-touch-action: manipulation;
     touch-action: manipulation;
     -webkit-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
     border-style: none;
}
 button:hover {
     opacity: 0.7;
}
 .clearfix {
     clear: both;
}
 .container {
     position: relative;
     max-width: 1170px;
     padding: 0;
     margin: 0 auto;
}
 .font-bold {
     font-weight: bold;
}
 ::-webkit-input-placeholder {
     color: #848484;
     opacity: 1;
     font-size: 14px;
     font-style: italic;
}
 :-ms-input-placeholder {
     color: #848484;
     opacity: 1;
     font-size: 14px;
     font-style: italic;
}
 ::-ms-input-placeholder {
     color: #848484;
     opacity: 1;
     font-size: 14px;
     font-style: italic;
}
 ::placeholder {
     color: #848484;
     opacity: 1;
     font-size: 14px;
     font-style: italic;
}
 input:focus::-webkit-input-placeholder {
     color: transparent;
}
 input:focus:-moz-placeholder {
     color: transparent;
}
 input:focus::-moz-placeholder {
     color: transparent;
}
 input:focus:-ms-input-placeholder {
     color: transparent;
}

 .flex-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .flex-container .trichild {
     text-align: center;
}
 .toggle {
     width: 100%;
     padding: 1px 20px;
     background: rgb(21, 199, 159);
     background: rgba(21, 199, 159, 0.35);
     font-size: 30px;
     display: none;
}
 .clickbar .bar1, .clickbar .bar2, .clickbar .bar3 {
     width: 35px;
     height: 5px;
     background-color: #ffffff;
     margin: 6px 0;
     -webkit-transition: 0.4s;
     -o-transition: 0.4s;
     transition: 0.4s;
}
 .topnav {
     height: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-flex: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
     -webkit-box-pack: end;
     -ms-flex-pack: end;
     justify-content: flex-end;
}
 .headernav .topnav li {
     display: inline;
     padding: 14px 25px;
     border:1px solid transparent;
}
 .headernav .topnav li:hover,.headernav .topnav li:active{
     border:1px solid #4bcaff;
}
 .headernav .topnav li a:hover,.headernav .topnav li:active{
     color:#4bcaff;
}
 .headernav li a {
     color: #ffffff;
     font-size: 14px;
     font-weight: bold;
     text-transform: uppercase;
}
 .headernav .topnav li:last-child {
     padding-right: 0;
}
 .header {
     background: rgb(65, 76, 83);
     background: rgba(65, 76, 83, 0.85);
     position: absolute;
     z-index: 2;
     top: 0;
     left:0;
     right:0;
     padding:40px 0;
}
 .header h3 {
     display: inline-block;
     font-size: 30px;
     color: #ffffff;
     text-transform: uppercase;
     font-weight: bold;
     margin:14px 0;
}
 .header h3::first-letter{
     color:#4bcaff;
}
 .headernav {
     float: right;
}
 .hero-content {
     width: 100%;
     height: 57vw;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     text-align: center;
     position: relative;
     color: #ffffff;
     background-image: url("../images/main-hero.png");
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
}
 .hero-content .hero-text {
     display: block;
     width: 100%;
     z-index: 2;
}
 .hero-content .hero-text h1 {
     font-size: 42px;
     font-weight: 100;
     color: #ffffff;
     text-transform: uppercase;
}
 .hero-content .hero-text .top-head,.hero-content .hero-text .bottom-head {
     margin-bottom:10px;
     background: rgb(75, 85, 93);
     background: rgba(75, 85, 93, 0.72);
}
 .hero-content .hero-text .top-head {
     width: 57%;
}
 .main-header {
     font-size:30px;
     font-weight: 100;
     text-transform: uppercase;
     color: #ffffff;
     position: relative;
}
 .main-header:before {
     content : "";
     position: absolute;
     left : 0;
     bottom : -10px;
     height : 1px;
     width : 5%;
     border-bottom:2px solid #ffffff;
     padding-top: 10px;
}
 .just-default {
     background: #515f67;
     padding:71px 0;
}
 .just-default .main-header {
     text-align: left;
}
 .just-default .left-just {
     width:45%;
}
 .just-default .left-just p {
     font-size: 14px;
     color: #ffffff;
     margin: 40px 0;
     text-align: left;
}
 .just-default .left-just button {
     text-transform: uppercase;
     color: #353f46;
     background: transparent;
     border: 1px solid #353f46;
     font-weight: bold;
     font-size: 14px;
     padding: 12px 39px;
}
 .right-default {
     width:50%;
}
 .testimonial .main-header {
     color:#515f67;
     margin-bottom: 20px;
}
 .video-head .video-display {
     width:600px;
     max-width: 100%;
     height:auto;
}
 .testimonial cite {
     font-style: normal;
     color: #4bcaff;
     font-weight: bold;
     font-size: 14px;
     text-transform: capitalize;
}
  .testimonial  blockquote p {
     font-size: 28px;
     color: #515f67;
     font-weight:100;
}
 .testimonial  cite {
     font-style: normal;
     font-size: 18px;
}
  .testimonial blockquote {
     display: block;
     padding: 15px 20px 15px 0;
     margin: 0 0 20px;
     position: relative;
     color: #a5a6a1;
}
  .testimonial blockquote::before {
     content: "\201D";
     font-size: 60px;
     font-weight: bold;
     color: #515f67;
     position: absolute;
     right:0;
     top: -8px;
}
  .testimonial blockquote::after {
     content: "";
}
 .testimonial  blockquote a:hover {
     color: #666;
}
 .testimonial .main-header:before {
     border-bottom: 2px solid #515f67;
}
 .john-bio {
     width: 100%;
     height: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     position: relative;
     color: #ffffff;
     background-image: url("../images/johnbio.png");
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
}
 .john-bio .main-bio {
     padding:142px 0;
}
 .main-bio .main-header {
     margin-bottom:20px;
}
 .left-bio ,.right-bio {
     width:48%;
}
 .left-bio p,.right-bio p {
     font-size: 14px;
}
 .social-icons li {
     display: inline-block;
     padding-right: 12px;
}
 .social-icons {
     margin-top:20px;
}
 .social-icons li a {
     background-image: url(../images/social-sprite.png);
     background-repeat: no-repeat;
     width: 64px;
     height: 64px;
     display: inline-block;
     text-indent: -9999px;
}
 .social-icons li .twitter {
     background-position: -22px -21px;
}
 .social-icons li .google-plus {
     background-position: -106px -21px;
}
 .social-icons li .dribble{
     background-position: -190px -21px;
}
 .social-icons li .coffee {
     background-position: -274px -21px;
}
 .services-box {
     background: #4bcaff;
     padding: 30px 0;
}
 .services-box .main-header {
     margin:15px 0;
}
 .services-box .trichild {
     text-align: left;
     width:24%;
     padding:36px 0;
}
 .services-box h3 {
     color: #ffffff;
     text-transform: uppercase;
     font-size: 20px;
     font-weight: 600;
     margin:24px 0;
}
 .services-box p {
     color: #ffffff;
     font-size: 12px;
     font-weight: 600;
     line-height: 1.6;
}
 .portfolio {
     padding: 56px 0;
}
 .portfolio .main-header {
     color:#515f67;
     margin-bottom: 20px;
     display: inline-block;
     text-transform: uppercase;
     margin: 14px 0;
}
 .portfolio .main-header:before {
     border-bottom: 2px solid #515f67;
     width:30%;
}
 .portfolio .headernav li a {
     color: #69747b;
}
 .portfolio-header {
     margin-bottom: 80px;
}
 .image-gallery {
     font-size: 0;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -ms-flex-flow: row wrap;
     flex-flow: row wrap;
}

 .modal-content .column {
     float: left;
     width: 25%;
}
 .modal {
     display: none;
     position: fixed;
     z-index: 2;
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: #000000;
}
 .modal-content {
     position: relative;
     background-color: #fefefe;
     margin: auto;
     padding: 0;
     width: 90%;
     max-width: 1200px;
}
 .modal .close {
     color: #ffffff;
     position: absolute;
     top: 10px;
     right: 52px;
     font-size: 35px;
     font-weight: bold;
     text-align: right;
}
  .modal .close:hover,.modal .close:focus {
     color: #999;
     text-decoration: none;
     cursor: pointer;
}
 .modal-content .mySlides {
     display: none;
}
 .mySlides img {
     width: 100%;
}
 .modal span {
     width: auto;
}
 .cursor {
     cursor: pointer;
     width:100% 
}
 .modal-content .prev, .modal-content .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     padding: 16px;
     margin-top: -50px;
     color: #ffffff;
     font-weight: bold;
     font-size: 20px;
     -webkit-transition: 0.6s ease;
     -o-transition: 0.6s ease;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-user-select: none;
}
  .modal-content .next {
     right: 0;
     border-radius: 3px 0 0 3px;
}
  .modal-content .prev:hover,  .modal-content .next:hover {
     background-color: rgb(0, 0, 0);
     background-color: rgba(0, 0, 0, 0.8);
}
 .carousel-control:hover {
     text-decoration: none;
}

 .image-gallery .img-ind {
     -webkit-box-flex: 1;
     -ms-flex: auto;
     flex: auto;
     width:20%;
     margin:0.5vw;
     position: relative;
     cursor: pointer;
}
 .image-gallery .img-ind img {
     width:100%;
     height:auto;
}
 .img-overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     -webkit-transition: .3s ease;
     -o-transition: .3s ease;
     transition: .3s ease;
     background-color: #434c53;
}
 .img-ind:hover .img-overlay {
     opacity: 0.85;
}
 .img-overlay .icon {
     color: #ffffff;
     font-size: 100px;
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
     text-align: center;
}
 .left-bio p {
     margin:14px 0; 
}
 .fa-plus {
     font-size:20px;
}
 .twitter-box {
     background: #4bcaff;
     padding:79px 0;
}
 .twitter-box .top-content {
     margin-bottom:25px;
}
 .twitter-box .main-header {
     font-size:30px;
     display:inline-block;
}
 .twitter-box .main-header:before {
     width:30%;
}
 .top-content img {
     float:right;
     -webkit-box-pack: end;
     -ms-flex-pack: end;
     justify-content: flex-end;
     -webkit-box-flex: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
     text-align: right;
}
 .twitter-box .twitdesc {
     font-size:28px;
     font-weight:100;
     color:#ffffff;
}
 .testimonial {
     padding:75px 0;
}
 .contact-box {
     width: 100%;
     height: 100%;
     position: relative;
     background-image: url(../images/contactbox.png);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
}
 .main-contact {
     padding:120px 0;
}
 .main-contact label {
     font-weight: bold;
     font-size: 14px;
     text-transform: uppercase;
     color:#ffffff;
}
 .text-area input {
     width:100%;
     height:216px;
}
 .message button {
     color: #ffffff;
     padding: 22px 147px;
     background: #4bcaff;
     margin: 3% auto 0;
     text-transform: uppercase;
     font-size: 14px;
}
 .main-contact input {
     padding: 9px 33px;
     border: 1px solid #ffffff;
     margin-top: 10px;
     background: transparent;
}
 .contact-box .main-header {
     margin-bottom: 30px;
}
 .main-contact .left-desc,.right-desc {
     width: 50%;
}
 .right-desc {
     font-weight: bold;
     font-size: 14px;
     color: #ffffff;
}
 .right-desc p {
     margin-bottom: 20px;
}
 .right-desc address {
     font-style: normal;
}
 .footer{
     background: #353f47;
     padding: 74px 0;
     color: #ffffff ;
}
 .left-footer {
     display: inline-block;
}
 .left-footer li {
     display: inline-block;
}
 .left-footer li + li::before {
     content: " | ";
     color:#515f67;
}
 .left-footer li a {
     color:#515f67;
     text-transform: uppercase;
     font-size: 12px;
     padding:0 16px;
}
 .left-footer ul li:first-child a {
     padding-left: 0;
}
 .right-footer {
     float: right;
}
 .right-footer p{
     font-size: 12px;
     display: inline-block;
     -webkit-box-pack: end;
     -ms-flex-pack: end;
     justify-content: flex-end;
     -webkit-box-flex: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
     text-align: right;
}
 .footer-links a:hover {
     color:#ffffff;
}
 @media screen and (min-width: 768px) and (max-width: 1200px) {
     .header {
         padding:40px 15px;
    }
     .headernav .topnav li {
         padding: 23px 15px;
    }
     .headernav {
         margin-right: 0;
         padding: 0;
    }
     .hero-content .hero-text {
         width:80%;
    }
     .hero-content .hero-text h1{
         font-size: 4vw;
    }
     .headernav li a {
         font-size: 14px;
    }
     .hero-content {
         height: 100vw;
    }
     .footer {
         padding: 20px 15px;
    }
     .services-box .trichild {
         padding:14px 0;
    }
     .services-box {
         padding:15px;
    }
     .portfolio {
         padding: 30px 15px;
    }
     .just-default {
         padding:30px 15px;
    }
     .twitter-box {
         padding:25px 15px;
    }
     .john-bio .main-bio {
         padding:30px 15px;
    }
     .testimonial {
         padding:20px 15px;
    }
     .main-contact {
         padding:20px 15px;
    }
}
/*mobile*/
 @media screen and (min-width: 320px) and (max-width: 767px) {
     .flex-container {
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
    }
     .footer-links {
         padding: 28px;
         text-align: center;
    }
     ::-webkit-input-placeholder {
         font-size: 14px;
    }
     :-ms-input-placeholder {
         font-size: 14px;
    }
     ::-ms-input-placeholder {
         font-size: 14px;
    }
     ::placeholder {
         font-size: 14px;
    }
     .toggle {
         display: block;
    }
     .header {
         padding: 0;
    }
     .topnav {
         width: 100%;
         display: none;
         height: auto;
    }
     .header h3 {
         font-size: 10px;
         padding-left: 10px;
    }
     .headernav {
         margin-right: 0;
         padding: 0;
    }
     .headernav .topnav li {
         display: block;
         text-align: center;
         padding: 10px 23px;
    }
     .headernav .topnav li:last-child {
         padding-right: 23px;
    }
     .headernav .topnav li:active {
         display: block;
         background: #88e4e1;
         border-radius: 0;
    }
     .mobileactive {
         display: block;
         position: absolute;
         z-index: 3;
         left: 0;
         background: rgb(21, 199, 159);
    }
     .change .bar1 {
         -webkit-transform: rotate(-45deg) translate(-9px, 6px);
         -ms-transform: rotate(-45deg) translate(-9px, 6px);
         transform: rotate(-45deg) translate(-9px, 6px);
    }
     .change .bar2 {
         opacity: 0;
    }
     .change .bar3 {
         -webkit-transform: rotate(45deg) translate(-8px, -8px);
         -ms-transform: rotate(45deg) translate(-8px, -8px);
         transform: rotate(45deg) translate(-8px, -8px);
    }
     .header {
         position: static;
    }
     .headernav li:hover, .headernav li:active {
         border-top: 0;
         border-bottom: 1px solid #ffffff;
    }
     .hero-content {
         height: auto;
    }
     .hero-content .hero-text {
         width: 100%;
         padding: 20px 40px;
    }
     .hero-content .hero-text h1 {
         font-size: 22px;
         margin-bottom: 0;
    }
     .hero-content .button-blocks .table-button {
         margin-right: 0;
         margin-bottom: 25px;
    }
     .services-box {
         padding:15px;
    }
     .services-box .trichild {
         text-align: center;
         width: 100%;
    }
     .portfolio {
         padding: 30px 15px;
    }
     .main-header {
         font-size: 20px;
    }
     .just-default {
         padding:30px 15px;
    }
     .just-default .left-just,.right-default {
         width: 100%;
    }
     .just-default .left-just button{
         margin-bottom: 15px;
    }
     .twitter-box {
         padding:25px 15px;
    }
     .twitter-box .main-header {
         font-size: 20px;
    }
     .twitter-box .twitdesc {
         font-size: 12px;
    }
     .john-bio .main-bio {
         padding:30px 15px;
    }
     .left-bio, .right-bio {
         width:100%;
    }
     .social-icons li{
         padding-right: 4px;
    }
     .testimonial {
         padding:20px 15px;
    }
     blockquote p {
         font-size: 18px;
    }
     .main-contact {
         padding:20px 15px;
    }
     .main-contact .left-desc, .right-desc {
         width: 100%;
    }
     .message button {
         padding: 10px 60px;
         ;
    }
     .footer {
         padding: 15px 0;
    }
     .left-footer li a {
         padding:0 6px;
    }
     .right-footer {
         float: none;
    }
     .services-box .trichild {
         padding:14px 0;
    }
}
 