.cricket-main {
    display: flex;

    .links-tray {
        width: 25%;
        flex-basis: 25%;
        text-align: center;
    }

    .section-main {
        width: 50%;
        flex-basis: 50%;
    }

    .links-tray-two {
        text-align: center;
        width: 25%;
        flex-basis: 25%;
    }

    .slick-block {
        h3 {
            background-color: red;
        }
    }

    .card {
        text-align: center;

        h2 {
            background-color: rgb(241, 166, 166);
        }

        p {
            bordeR: 2px solid rgb(0, 255, 0)
        }
    }
}